// Extend these into classes if you need them

%nav {
  background: $menu-color;
  ul {
    li {
      display: inline-block;
      position: relative;

      &:hover > .submenu {
        display: block;
      }

      a {
        display: block;
        padding: em(10);

        &:hover {
          color: #fff;
          background: $base-accent-color;
        }
      }
    }
  }

  .submenu {
    position: absolute;
    display: none;
    li {
      a {
        background: $menu-color;
      }
    }
  }
}

%pagination {
  margin: $base-line-height 0;
  display: inline-block;
  @include clearfix();

  li {
    display: block;
    float: left;
    a {
      display: block;
      padding: em(8);
      border-top: 1px solid $light-gray;
      border-left: 1px solid $light-gray;
      border-bottom: 1px solid $light-gray;
    }

    &:last-child {
      a {
        border-right: 1px solid $light-gray;
      }
    }
  }
}
