/**************************/
/* Header */
/**************************/

.usa {
  width: 100%;
  border-bottom: 1px solid $light-gray;

  p {
    color: $dark-gray;
  }
}

.site-header {
  // @include linear-gradient(45deg, $myra-blue2, $myra-blue1);
  border-bottom: 4px solid $myra-blue1;
  background: $light-gray;

  .container {
    position: relative;
  }

  hgroup {
    padding: 1em 0;
    float: left;
  }

  .logo {
    height: 4em;
  }

  .coming-soon {
    display: none;
    color: #3B3B3B;
    float: right;
    margin: em(20) 0 0 0;
  }
}

.site-title{
  letter-spacing: -1px;
  position: relative;
  z-index: 1;
  margin-bottom: 0;
  a {
    color: #000;
  }
}

.site-subtitle {
  font-size: $base-font-size * 1.25;
  color: #000;
}

.site-nav {
  position: absolute;
  right: 0;
  bottom: 0;

  li {
    float: left;
  }

  a {
    @include transition(background .2s);
    color: $myra-green;
    font-size: $base-font-size * 1.25;
    display: block;
    padding: 4.5em em(10) .5em;

    &.current-page {
      background: darken($light-gray, 8);
      color: #000;
    }

    &:hover,
    &.current-page:hover {
      background: $myra-green;
      color: #fff;
    }


  }

  .menu-icon {
    display: none;
  }
}

/**********************/
/* Footer
/**********************/

footer {
  @extend %inverse;
  border-top: 4px solid $myra-blue1;

  .left {
    @include span-columns(6);
  }

  .seal {
    float: right;
    margin-top: em(40);
  }

}

.main-footer {
  padding: em(30) 0;
}

.sub-footer {
  background: $myra-blue1;
  color: #fff;
  padding: em(10);

  span,
  li {
    font-size: $base-font-size * .75;
  }
}

/**************************/
/* Hero */
/**************************/

.hero {
  padding: em(50) 0;
  background: url('../img/hero_bg.jpg');
  background-attachment: fixed;
  background-size: cover;

  .display,
  .sub-headline {
    color: $myra-blue1;
    text-align: center;
    @include span-columns(8);
    @include shift(2);
  }

}

.headline {
  @include row();
  padding: em(30);
  border-top: 1px solid $myra-green;
  border-bottom: 1px solid $myra-green;
}

.hero-signup {
  margin-top: em(30);
  padding-top: $base-line-height;
  @include span-columns(6);
  @include shift(3);

  .flash-success {
    margin-top: em(10);
    clear: both;
  }
}

/**************************/
/* Page nav */
/**************************/

.page-nav {
  background: $myra-blue1;
  text-align: center;
  border-top: 1px solid $base-border-color;
  border-bottom: 1px solid $base-border-color;
  width: 100%;
  height: 46px; // Hack. Please change.
  ul {
    display: inline-block;
  }

  li {
    float: left;

    &:last-child {
      a {
        border-right: none;
      }
    }

    a {
      @include transition(background .1s, color .1s);
      color: #fff;
      display: block;
      padding: em(10) em(20);
      border-right: 1px solid $base-border-color;
    }

    a:hover,
    .current-section {
      background: darken($myra-blue1, 10);
      color: #fff;
    }
  }

  &.fixed {
    z-index: 1000;
    position: fixed;
    top: 0;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
  }
}

/**************************/
/* Features */
/**************************/

$feature-color: #fff;

.features {
  padding: 0;
  position: relative;

  .tab-container {
    background: darken($myra-blue1, 5%);
    @include clearfix();

    .feature {
      @include span-columns(2);
      @include pad(0);

      .tab {
        @include transition(background .2s);
        width: 100%;
        text-align: center;
        cursor: pointer;
        display: block;
        padding: em(20) 0;
        height: em(140);

        h3 {
          font-size: $base-font-size;
          color: $feature-color;
          @include transition(color .2s);
        }

        .svg-icon {
          width: 28%;

          path {
            fill: $feature-color;
            @include transition(fill .2s);
          }
        }

        &.active,
        &:hover {
          background: $myra-blue1;
        }
      }
    }
  }

  .tab-content-container {
    background: $myra-blue1;
    padding: em(20) 0;
    position: relative;
    z-index:-1;

    .tab-content {
      article {
        @include span-columns(8);
        @include shift(2);
        color: #fff;
        display: none;

        &.active {
          display: block;
        }
      }
    }
  }
}

/**************************/
/* Value proposition */
/**************************/

.value-proposition {
  .h3 {
    @include span-columns(8);
    @include shift(2);
    margin-bottom: $base-line-height;
    text-align: center;

  }

  ul {
    @extend %default-ul;
  }
}

// Reseting the display after setting it to display: table
@include reset-display();

/**************************/
/* Call to Action section */
/**************************/

.call-to-action {
  // @include linear-gradient(45deg, $myra-blue3, $myra-blue2);
  background: url('../img/cta_bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  border-top: 2px solid $myra-green;
  border-bottom: 2px solid $myra-green;

  // p,
  // span,
  // label,
  // h2 {
  //   color: $myra-blue1;
  // }

  .button-group {
    @include span-columns(6);
    background: none;
    border: none;
  }
}

/* myRA Story */

.myra-story {
  padding: 0;

  .bx-wrapper .bx-viewport {
    box-shadow: none;
  }
}


.bxslider {

  .slide {

    .container {
      padding-top: 15%;
      text-align: center;
      height: em(600);
    }
  }
}

/**************************/
/* Calculator */
/**************************/

.calculator {
  @include clearfix;
  background: $light-gray;
  border-radius: 5px;
  padding: em(20);
  border: 1px solid $base-border-color;

  h4,
  h5 {
    padding-bottom: em(5);
    border-bottom: 1px solid #000;
  }

  .toggle-buttons {
    @include span-columns(6);
  }

  .graph,
  .summary {
    @include span-columns(6);
  }

  .base {
    color: $myra-blue2;
  }

  .reach {
    color: $myra-green;
  }
}

.calculator-input-group {
  @include row();
  padding: $base-line-height 0 0 0;

  &#calculator-3 {
    padding-bottom: $base-line-height * 2;
  }
}

.calculator-label {
  @include span-columns(5);
  font-weight: normal;
}

.calculator-input {
  @include span-columns(1);
}

.calculator-slider {
  @include span-columns(6);
  @include omega();
  margin-top: em(8);
}

.noUi-base {
  background: $myra-green;
}

.noUi-origin {
  background: #fff;
}

.summary {
  .row {
    margin-bottom: $base-line-height;
  }
}

.result {
  @include span-columns (3 of 6);

  .big-number {
    font-size: $base-font-size * 3;
    line-height: 1;
    display: block;
  }
}

/**************************/
/* Step by Step */
/**************************/
.step-intro {
  @include span-columns(9);
  margin-bottom: $base-line-height;
}

.step-by-step {
  .tabs {
    @include span-columns(12);
    background: #fff;;
    li {
      float: left;
      width: 25%;
      text-align: center;

      &:last-child {
        a:after {
          content: '\f11e';
        }
      }
    }
    a {
      @include transition(background .2s);
      display: block;
      padding: em(10);
      border: darken($myra-green, 5);
      color: $myra-blue1;
      border-color: $base-border-color;
      border-style: solid;
      border-width: 0px 0px 1px 0px;
      position: relative;

      &.active {
        background: $light-gray;
        position: relative;
        color: $dark-gray;
        border-width: 1px 1px 0 1px;
      }

      &:after {
        content: '\f061';
        font: normal normal normal 14px/1 FontAwesome;
        display: inline-block;
        margin-left: em(10);
      }
    }
  }

  .tab-body {
    @include span-columns(12);
    background: $light-gray;
    border-color: $base-border-color;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    padding: em(40);
  }

  .step-content {
    @include span-columns(8);
  }

  .step {
    display: none;

    &.active {
      display: block;
    }
  }

  .numbered-heading {
    display: none;
  }
}

.stacked-steps {
  border-top: 1px solid $base-border-color;
  background: $light-gray;

  .tabs {
    display: none;
  }

  .numbered-heading {
    display: block;
    margin-bottom: $base-font-size * 2;
    .numbered-heading-number {
      @include span-columns(1 of 9);
      text-align: right;
    }
    .numbered-heading-title {
      @include span-columns(8 of 9);
    }
  }

  .tab-body {
    @include span-columns(12);
    background: none;
    border: none;
    padding: 0;
    color: $base-font-color;
  }

  .tab-content {
    @include span-columns(8);
    padding: em(10) 0;
    article {
      display: none;
      padding: em(20);
      background: #f9f9f9;
      &.active {
        display: block;
      }
    }
  }

  .step {
    @include span-columns(12);
    margin-bottom: $base-line-height * 1.5;

    p {
      @include span-columns(8 of 9);
      @include shift(1 of 9);
    }

    div {
      padding: em(20) 0;
      display: block;
      background: none;
      border-bottom: 1px solid #f9f9f9;
    }
  }

  .step-content {
    @include span-columns(9);
  }

  .step-image {
    @include span-columns(3);
  }
}

/**************************/
/* Who & Benefits
/**************************/

.who {
  @extend %inverse;

  .images {
    @include span-columns(6);
    padding-top: em(30);
  }

  .face {
    width: 100px;
    margin-right: 40px;
    border-radius: 300px;
  }
  ul {
    @include span-columns(6);
  }

  li {
    @include span-columns(3 of 6);
    position: relative;
    display: block;
    padding: 0 0 em(20) 0;

    &:before {
      content: "\f14a";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      position: absolute;
      left: -20px;
      top: 5px;
    }

    &:nth-child(even) {
      @include omega();
    }

  }

}

.benefits {
  border-bottom: 1px solid $base-border-color;
}

.benefit-block {
  @include span-columns(6);
  padding: em(30);
  height: em(320);
  border: 1px solid $myra-blue3;
  border-radius: 3px;
  background: $light-gray;
  margin-bottom: $base-line-height;

  &:nth-child(odd) {
    @include omega();
  }

  ul {
    @extend %default-ul;
  }
}



/**************************/
/* Employer Page
/**************************/

.employer {
  .hero {
    .display,
    .sub-headline {
      @include span-columns(10);
      @include shift(0);
      text-align: left;
    }
  }

  .benefits {
    border-bottom: 1px solid $base-border-color;
  }

  .benefit-block {
    @include span-columns(4);
    background: none;
    border: none;
  }

  .call-to-action {
    input,
    label,
    button {
      @include span-columns(6 of 8);
    }

    img {
      border: 1px solid $myra-green;
      @include span-columns(3 of 4);
    }
  }

  .step-by-step {
    @extend %inverse;

      .step {
        @include span-columns(4);
        padding-right: em(40);
        position: relative;

        &:last-child {
          padding-right: 0;
          &:after {
            display: none;
          }
        }

        &:after {
          content: '\f0a9';
          font: normal normal normal 28px/1 FontAwesome;
          color: #fff;
          display: inline-block;
          position: absolute;
          right: 0;
          top: 50%;
        }
      }
  }
}

/**************************/
/* Home Page
/**************************/

.home {
  .hero {
    background: #fff;
  }

  .display,
  .sub-headline {
    @include span-columns(10);
    @include shift(0);
    text-align: left;
  }
}

.audience {
  padding-top: 0;

  aside {
    @include span-columns(6);
    padding: em(30) em(30);
    background: $light-gray;
    border: 1px solid $base-border-color;

    p {
      font-size: $base-font-size * 1.5;
      font-family: $serif;
    }

    a {
      font-size: $base-font-size * 1.5;
      font-weight: bold;
      text-align: center;
    }
  }
}


/**************************/
/* Call to Action section */
/**************************/

.about {
  .page-content {
    @include span-columns(8);
    @include shift(2);
    float: none;
  }
}
