*:focus {
  box-shadow: inset 0 0 0 1px $myra-orange;
  outline: none;
}
/**************************/
/* Header */
/**************************/

.skip-nav {
  @include transition(top, .2s);
  position: absolute;
  top: -50px;
  left: 10px;
  display: block;
  background: #fff;
  padding: 10px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.4);
  z-index: 999;

  &:focus {
    top: 0;
    box-shadow: inset 0 0 0 1px $myra-orange;
    outline: none;
  }
}

.usa {
  width: 100%;
  border-bottom: 1px solid $light-gray;

  p {
    color: $dark-gray;
  }
}

.alpha {
  @include span-columns(12);
  // @include shift(2);
  display: block;
  background: #f3f3f3;
  color: #333;
  border: 1px solid #d9d9d9;
  border-top: none;
  text-align: center;
  padding: .5em 0;
}

.site-header {
  background: #fff;
  text-align: center;

  .container {
    position: relative;

    @include media($tiny-down) {
      padding: 0;
    }
  }

  .logo {
    display: block;
    padding: 1em 0;
    height: 100px;

    @include media($medium-up) {
      @include span-columns(3);
    }
  }

}

.site-title {
  margin-bottom: 0;
  text-indent: -99999px;
  background-image: url('../img/myra_logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.site-nav {
  @include span-columns(12);
  text-align: center;
  border-top: 1px solid #c1c1c1;

  li {
    @include span-columns(4, block-collapse);
    float: left;
  }

  a {
    @include transition(all .2s);
    color: #000;
    display: block;
    padding: em(10);
    border-bottom: 4px solid;
    border-bottom-color: transparent;

    @include media($tiny-down) {
      font-size: .875em;
    }

    &.current-page {
      color: $myra-green;
      border-bottom-color: $myra-green;
    }

    &:hover,
    &.current-page:hover {
      background: $myra-green;
      color: #fff;
      border-bottom-color: $myra-green;

    }
  }


  @include media($medium-up) {
    @include span-columns(9);
    border-top: none;

    li {
      @include span-columns(3 of 9, block-collapse);
    }

    a {
      padding: 3em em(10) .5em;
      font-size: $base-font-size * 1.333;
    }
  }

  @include media($large-up) {
    @include span-columns(6);
    @include shift(3);

    li {
      @include span-columns(2 of 6, block-collapse);
    }
  }

}

/**********************/
/* Footer
/**********************/

footer {
  @extend %inverse;
  p {
    font-size: $base-font-size;
  }

  .left {
    @include media($small-up) {
      @include span-columns(6);
    }
  }

  .right {
    @include media($small-up) {
      @include span-columns(6);
    }
  }
}

.contact-info {
  @include span-columns(4 of 6);
}

.seal {
  @include span-columns(2 of 6);
}

.main-footer {
  padding: em(30) 0;
}

.sub-footer {
  background: $myra-darkblue;
  color: #fff;
  padding: em(10);

  span,
  li {
    font-size: $base-font-size * .75;
  }
}

/**************************/
/* Hero */
/**************************/

.hero {
  padding: 3em 0;
  background: url('../img/person-bg.jpg');
  background-size: cover;
  min-height: 500px;

  @include media($tiny-down) {
    padding: 0;
    min-height: 0;

    .container {
      padding: 0;

      @include media($large-up) {
        @include span-columns(10 of 12);
        @include shift(1);
      }
    }
  }

  .inner-container {
    @include span-columns(12);
    @include shift(0);

    @include media($large-up) {
      @include span-columns(10 of 12);
      @include shift(1);
    }
  }

  .display {
    text-align: center;
    margin-bottom: 1em;
  }

  .sub-headline {
    text-align: center;
  }

  .lead-text {
    font-size: $base-font-size * 1.44;
    text-align: left;
  }
}

.tagline-banner {
  width: 100%;
  margin-bottom: 2px;
  background-color: $myra-blue1;
  background-color: rgba($myra-blue1,.9);
  color: #fff;
  text-align: center;
  padding: 1em;
}

.coming-soon {
  @extend h3;
  display: block;
  color: #fff;
  margin-bottom: 0;
  font-weight: 400;
}

.tagline {
  font-size: $base-font-size * 1.2;
  font-weight: 400;
  display: block;
}


.headline {
  @include clearfix();
  padding: 3em 2em;
  position: relative;
  background-color: $myra-blue1;
  background-color: rgba($myra-blue1,.9);
  box-shadow: 0px 1px 2px 0 rgba(0,0,0,.2);
  color: #fff;
  margin-bottom: 2px;

  .sub-headline {
    color: #fff;
  }

  .display {
    color: #fff;
    text-align: center;
  }

  @include media($tiny-down) {
    padding: 1em .5em 1em .5em;
  }

  @include media($medium-up) {
    .inner-headline {
      @include span-columns(8 of 10);
      @include shift(1);
    }
  }

}

.hero-signup {
  @include clearfix();
  background-color: #fff;
  background-color: rgba(#fff, .9);
  padding: 2em;

  h2 {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .lead-text {
    margin-top: 1em;
    text-align: left;
  }

  @include media($tiny-down) {
    margin-top: 0;
  }

  @include media($medium-up) {
    .inner-signup {
      @include span-columns(8 of 10);
      @include shift(1);
    }
  }

}



.quote {
  @extend .h2;
  font-weight: 400;
  text-align: center;
  display: block;
  position: relative;
  color: $myra-blue1;
  margin-top: em(10);

  &:before,
  &:after {
    content: '';
    display: block;
    width: 50px;
    height: 40px;
    position: absolute;
    top: 0;
  }

  &:before {
    background: url('../img/left-quote.png');
    left: -80px;
  }

  &:after {
    background: url('../img/right-quote.png');
    right: -80px;
  }
}

.display {
  .active {
    color: $myra-green;
  }
}

.citation {
  display: block;
  text-align: center;
  font-size: 1.5em;
  clear: both;
}

.controls {
  text-align: center;
  padding-top: em(30);
  li {
    display: inline-block;
    margin-right: em(20);
    opacity: .5;
  }

  .active {
    opacity: 1;
  }
}

#main {
  background-color: #fff;
}
/**************************/
/* v4 Sub-Hero */
/**************************/

.sub-hero {
  background: $myra-blue2;
  text-align: center;
  color: #fff;
  padding: 3em 0;

  p {
    @include span-columns(6);
    @include shift(3);
    @extend .h3;
    font-weight: 400;
    color: #fff;
  }
}


/**************************/
/* Page nav */
/**************************/

.page-nav {
  background: #fff;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid $base-border-color;
  border-top: 1px solid $base-border-color;

  .container {
    padding: 0;
    position: relative;
  }

  li {
    width: 100%;
    text-align: left;
    border-right: 1px solid $base-border-color;

    &:first-child {
      border-left: 1px solid $base-border-color;
    }

    a {
      @include transition(background .1s, color .1s);
      font-size: $base-font-size * .875;
      color: $myra-green;
      display: block;
      border-bottom: 1px solid $base-border-color;
    }

    &.current-section a,
    a:hover {
      background: #fff;
      color: $myra-green;
    }
  }

  @include media($small-up) {
    li {
      width: 50%;
      float: left;

      a {
        font-size: $base-font-size;
      }
    }
  }

  @include media($large-up) {
    li {
      @include span-columns(3, block-collapse);
      a {
        border-bottom: none;
      }
    }
  }
}

.icon-box {
  padding: em(10) em(10);
  display: inline-block;
  text-align: center;
  min-width: 60px;
}

.nav-label {
  padding: em(10) em(10);
  display: inline-block;
}

.page-nav.fixed {
  z-index: 10000;
  position: fixed;
  top: 0;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);

  li {
    @include span-columns(2, block-collapse);
  }

  .icon-box {
    width: 100%;
    padding: em(10) em(10);
  }

  .current-section {
    @include span-columns(6, block-collapse);

    .nav-label {
      display: inline-block;
      text-align: center;
      padding: em(10) em(10);
    }

    .icon-box {
      display: none;
    }
  }

  .nav-label {
    display: none;
  }

  .progress {
    display: block;
  }

  @include media($small-up) {
    li,
    li:last-child,
    .current-section {
      width: 50%;
      float: left;

      .icon-box {
        display: inline-block;
      }
    }

    .current-section a {
      border-bottom: 1px solid $myra-green;
    }

    .nav-label {
      display: inline-block;
    }

    .icon-box {
      display: inline-block;
      max-width: 60px;
    }

    .progress {
      display: none;
    }
  }

  @include media($large-up) {
    li,
    li:last-child,
    .current-section {
      @include span-columns(3, block-collapse);
      border-bottom: none;

      a {
        border-bottom: none;
      }

      .icon-box {
        display: inline-block;
      }
    }

    .progress {
      display: block;
    }
  }

}

// Progress indicator for page nav

.progress {
  @include transition(left, .1s);
  position: absolute;
  // display: none;
  left: -500px;
  bottom: 0;
  height: 4px;
  background: $myra-green;
}


/**************************/
/* Universal elements */
/**************************/
h2 {
  i {
    display: block;
    margin: .5em auto .5em;
  }
}

/**************************/
/* Features */
/**************************/

$feature-color: #fff;

.features {
  padding: 0;
  position: relative;

  .tab-container {
    background: darken($myra-blue1, 5%);
    @include clearfix();

    .feature {
      @include span-columns(2);
      @include pad(0);

      .tab {
        @include transition(background .2s);
        width: 100%;
        text-align: center;
        cursor: pointer;
        display: block;
        padding: em(20) 0;
        height: em(140);

        h3 {
          font-size: $base-font-size;
          color: $feature-color;
          @include transition(color .2s);
        }

        .svg-icon {
          width: 28%;

          path {
            fill: $feature-color;
            @include transition(fill .2s);
          }
        }

        &.active,
        &:hover {
          background: $myra-blue1;
        }
      }
    }
  }

  .tab-content-container {
    background: $myra-blue1;
    padding: em(20) 0;
    position: relative;
    z-index:-1;

    .tab-content {
      article {
        @include span-columns(8);
        @include shift(2);
        color: #fff;
        display: none;

        &.active {
          display: block;
        }
      }
    }
  }
}

/**************************/
/* Value proposition */
/**************************/

.value-proposition {

  .call-out {
    @include span-columns(12);
  }

  .block {
    @include span-columns(12);

    h3 {
      text-align: left;
    }
  }

  ul {
    @extend %default-ul;
  }

  @include media($medium-up) {
    .block {
      @include span-columns(8);
      @include shift(2);
    }
  }

  @include media($large-up) {
    .call-out {
      @include span-columns(8);
      @include shift(2);
    }

    .block {
      @include span-columns(4);
      @include shift(0);

      h3 {
        @include fill-parent();
        text-align: center;
      }

    }
  }
}

// Reseting the display after setting it to display: table
@include reset-display();

/**************************/
/* Call to Action section */
/**************************/

.call-to-action {
  background: #fff;
  background-attachment: fixed;
  text-align: center;
  padding: 3em 1em;

  .container {
    padding: 2em 0;
    border-width: 1px 0 1px 0;
    border-color: $myra-orange;
    border-style: solid;
  }

  .cta-intro {
    text-align: left;

    @include media($medium-up) {
      @include span-columns(8);
      @include shift(2);
    }
  }
}

.email-capture {
  input {
    width: 100%;
  }

  @include media($medium-up) {
    @include span-columns(6);
    @include shift(3);
    padding-top: 1em;

    label {
      text-align: left;
    }

    input {
      @include span-columns(6 of 6);
    }

    input[type="submit"] {
      @include span-columns(6 of 6);
    }
  }
}

/* myRA Story */

.myra-story {
  padding: 0;

  .bx-wrapper .bx-viewport {
    box-shadow: none;
  }
}


.bxslider {

  .slide {

    .container {
      padding-top: 15%;
      text-align: center;
      height: em(600);
    }
  }
}

/**************************/
/* Calculator */
/**************************/

#calculator {
  @include media($medium-up) {
    background: #f3f3f3;
    padding: 1em;

    .container {
      background: #fff;
      border: 1px solid #f1f1f1;
      padding: 3em 2em;
    }
  }
}


.calculator {
  @include clearfix();
  clear: both;
}

.education {
  @include clearfix();
  border-bottom: 1px solid $light-gray;
  padding-bottom: em(40);
  margin-bottom: em(40);

  @include media($large-up) {
    @include span-columns(8);
    @include shift(2);

    h3 {
      @include span-columns(8 of 8);
    }

    .intro {
      @include span-columns(4 of 8);
    }

    .chart {
      @include span-columns(4 of 8);
      margin: 0;
    }
  }

  .chart {

    figcaption {
      border-top: 1px solid $light-gray;
      padding-top: .5em;

      span,
      strong {
        display: block;
        font-size: .875em;
        color: #5C5C5C;
      }
    }

    img {
      width: 170px;
      margin: 0 auto 10px;
      display: block;
    }
  }
}

.calculator-row {
  @include span-columns(12);
  background: #f3f3f3;
  margin-bottom: 2px;
  padding: 1em;

}

.calculator-label-heading,
.calculator-label {
  @extend .h4;
  padding: 0.5em 0.5em .5em 0;
  display: inline-block;
}

.total-saved {
  @extend .h4;
}

@include media($large-up) {
  .calculator-intro {
    @include span-columns(8);
    @include shift(2);
  }

  .calculator-row {
    @include span-columns(8);
    @include shift(2);
    padding: 1.5em 2em 2em 2em;
  }

  .calculator-label-heading {
    // @include span-columns(5 of 8);
    display: inline-block;
  }

  .calculator-input-group {
    display: inline-block;
    float: right;
  }
}

.calculator-row {
  .toggle-buttons {
    @include span-columns(8 of 8);

    .button {
      width: 100%;
      margin-bottom: 2px;

      @include media($small-up) {
        @include span-columns(2 of 10, block-collapse);
      }
    }
  }
}


input.calculator-input {
  width: em(50);
  display: inline-block;
  @extend .h4;
  padding: .5em;
  border: none;
  border-radius: 0;
  border: 1px solid $medium-gray;
  box-shadow: none;
  text-align: center;
  color: $myra-green;
  float: right;
}

.calculator-helper {
  @include span-columns(8 of 8);
  position: relative;
}

.results {
  .calculator-label {
    float: right;
  }

  .calculator-helper {
    display: none;
    margin-top: 1em;
    border-left: 2px solid $myra-green;
    padding: 1em;
    background: #fff;

    p {
      margin-bottom: .5em;
    }
  }
}

// No JS Fallback
.no-js {
  .no-js-warning {
    display: block;
  }

  .calculator {
    display: none;
  }
}


.no-js-warning {
  display: none;
}

/* Sliders */
.calculator-slider {
  @include span-columns(8 of 8);
}

.noUi-base {
  background: $myra-green;
  border-radius: 0;
}

.noUi-origin {
  background: #fff;
  border-radius: 0;
}

.noUi-horizontal {
  .noUi-handle {
    border-radius: 30px;
    width: 30px;
    height: 30px;
    background-color: $base-accent-color;
    border: 2px solid #1EB974;
    cursor: pointer;

    &:before,
    &:after {
      display: none;
    }
  }
}

.noUi-handle,
.noUi-active {
  box-shadow: none !important;
}

.noUi-target {
  box-shadow: none;
  border-radius: 0;
}

/* Thermometer */
.meter {
  @include span-columns (9 of 9);
  position: relative;
  height: 70px;
  background: $light-gray;
  overflow: hidden;
}

.meter-inner {
  @include transition(width, .2s);
  width: 0;
  float: left;
  padding: em(10) 0;
  height: 70px;
  text-align: center;
  color: #fff;
}

.meter-p {
  @include linear-gradient(90deg, $myra-blue1, lighten($myra-blue1, 10));
}

.meter-i {
  @include linear-gradient(90deg, $myra-blue2, lighten($myra-blue2, 10));
}

.tic-marks {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 70px;

  .tic {
    display: block;
    float: left;
    height: 100%;
    width: 10%;
    border-right: 1px solid rgba(255,255,255,.3);
  }
}

.meter-label-container {
  @include span-columns (9 of 9);
  position: relative;
}

.principal-label,
.interest-label {
  display: block;

  @include media($small-up) {
    display: inline-block;
  }
}

.interest-label {
  @include media ($small-up) {
    @include transition(left, .2s);
    position: absolute;
    left: 20%;
  }
}

.meter-label-number {
  font-weight: 700;

  &.principal-saved {
    color: $myra-blue1;
  }

  &.interest-earned {
    color: $myra-blue2;
  }
}

/**************************/
/* Step by Step */
/* Hierarchy:
/* #how > .tab-content > .step > .step-content
/**************************/
.section-intro {
  margin-bottom: $base-line-height;

  p {
    @extend .lead-text;
  }

  @include media($large-up) {
    @include span-columns(8);
    @include shift(2);
  }
}

.stacked-steps {
  border-top: 1px solid $base-border-color;
  border-bottom: 1px solid $base-border-color;
  background: #f3f3f3;

  .tab-nav {
    display: none;
  }

  .tab-content {
    @include span-columns(12);
    background: none;
    border: none;
    padding: 0;
    color: $base-font-color;
  }

  .step {
    @include span-columns(12);
    margin-bottom: $base-line-height;

    &:last-child div {
      border-bottom: none;
    }

    p {
      @include span-columns(11 of 12);
      @include shift(1);
    }
  }

  .step-content {
    @include span-columns(12);
    padding: em(20) 0;
    display: block;
    background: none;
    border-bottom: 1px solid #d9d9d9;

    @include media($large-up) {
      @include span-columns(10);
      @include shift(1);

      .numbered-heading-number {
        @include span-columns(1 of 10);
      }

      .numbered-heading-title {
        @include span-columns(9 of 10);
      }

      p {
        @include span-columns(9 of 10);
        @include shift(1);
        font-size: $base-font-size * 1.2;
      }
    }
  }

  .numbered-heading {
    display: block;
    margin-bottom: $base-font-size * 2;
  }

  .numbered-heading-number {
    @include span-columns(1 of 12);
    text-align: right;
  }

  .numbered-heading-title {
    @include span-columns(11 of 12);
  }


  .step-image {
    display: none !important;
  }
}

// For tab based steps:
// .step-by-step {
//   .tab-nav {
//     @include span-columns(12);
//     background: #fff;;
//     li {
//       float: left;
//       width: 25%;
//       text-align: center;
//
//       &:last-child {
//         a:after {
//           content: '\f11e';
//         }
//       }
//     }
//     a {
//       @include transition(background .2s);
//       display: block;
//       padding: em(10);
//       border: darken($myra-green, 5);
//       color: $myra-blue1;
//       border-color: $base-border-color;
//       border-style: solid;
//       border-width: 0px 0px 1px 0px;
//       position: relative;
//
//       &[aria-selected="true"] {
//         background: $light-gray;
//         position: relative;
//         color: $dark-gray;
//         border-width: 1px 1px 0 1px;
//       }
//
//       &:after {
//         content: '\f061';
//         font: normal normal normal 14px/1 FontAwesome;
//         display: inline-block;
//         margin-left: em(10);
//       }
//     }
//   }
//
//   .tab-content {
//     @include span-columns(12);
//     background: $light-gray;
//     border-color: $base-border-color;
//     border-style: solid;
//     border-width: 0px 1px 1px 1px;
//     padding: em(40);
//   }
//
//   .step-content {
//     @include span-columns(8);
//   }
//
//   .step {
//     display: none;
//
//     &[aria-hidden="false"] {
//       display: block;
//     }
//   }
//
//   .numbered-heading {
//     display: none;
//   }
// }


/**************************/
/* Who & Benefits
/**************************/

.who {
  @extend %inverse;
  position: relative;
  overflow: hidden;

  .images {
    @include span-columns(5);
    padding-top: em(30);
    position: absolute;
    bottom: -5px;
    right: 0;
  }
}


.who-bullets {
  @include span-columns(12);
  color: #fff;

  @include media($medium-up) {
    @include span-columns(10);
    @include shift(1);
  }

  @include media($large-up) {
    @include span-columns(6);
    @include shift(3);
  }

  li {
    @extend .h3;
    position: relative;
    padding-left: 30px;
    font-weight: 400;
    margin: 0;
    color: #fff;
    padding-bottom: 1em;

    &:before {
      content: "\e080";
      font-family: 'Simple-Line-Icons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      position: absolute;
      left: 0px;
      top: 5px;
    }

    &:nth-child(even) {
      @include omega();
    }

    &:first-child {
      padding-left: 0;
      &:before {
        content: '';
      }
    }
  }
}

/* For the slider */

.who-people {
  padding: 0;
  position: relative;

  .section-heading {
    position: absolute;
    top: 2em;
    left: 0;
    z-index: 10;
    text-align: center;
    width: 100%;

    h2 {
      color: #333;
    }
  }

  .bx-wrapper {
    margin-bottom: 0;
    .bx-viewport {
      box-shadow: none;
      border: 0;
      left: 0;
    }

    .bx-pager.bx-default-pager {
      position: absolute;
      bottom: 2em;

      a {
        background-color: #fff;
        background-color: rgba(255,255,255,.5);

        &:active,
        &:focus {
          background: $myra-green;
        }

        &.active {
          background: #fff;
        }
      }
    }

    .bx-next,
    .bx-next:hover {
      background: url('../img/next.png') no-repeat;
      width: 50px;
      height: 144px;
      right: em(20);
    }

    .bx-prev,
    .bx-prev:hover {
      background: url('../img/prev.png') no-repeat;
      width: 50px;
      height: 144px;
      left: em(20);
    }

    .bx-prev,
    .bx-next {
      display: none;
      &:focus {
        outline: 1px dotted #fff;
      }

      @include media($medium-up) {
        display: block;
      }
    }
  }

  .slide {
    background-size: contain;
    background-position: 0 100%;
    background-color: #333;
    background-repeat: no-repeat;
    padding: 2em;

    @include media($medium-up) {
      background-size: cover;
    }
  }

  .who-slide-1 {
    // background-image: url('../img/who_1_bg.jpg');
    background-color: $myra-blue2;
    height: 500px;
  }

  .who-slide-2 {
    background-image: url('../img/who_2_bg.jpg');
    height: 700px;
  }

  .quote-container {
    margin-top: 4em;

    @include media($medium-up) {
      margin-top: 0;
      padding-left: 80px;
    }
  }

  .quote,
  .citation {
    color: #fff;
    text-align: left;
  }

  .quote {
    @include span-columns(12);
    line-height: 1.2;

    @include media($medium-up) {
      @include span-columns(6);
      @include shift(0);
    }
  }
}

/* No-JS Fallback */

.no-js {
    .bxslider {
      position: relative;
    }
}

.benefits {
  border-bottom: 1px solid $base-border-color;
}

.benefit-block {
  @include span-columns(6);
  padding: em(30);
  border-radius: 3px;
  background: $light-gray;
  margin-bottom: $base-line-height;

  &:nth-child(odd) {
    @include omega();
  }

  ul {
    @extend %default-ul;
  }
}



/**************************/
/* Employer Page
/**************************/

.employer {
  .hero {
    overflow: hidden;
  }

  .benefits {
    border-bottom: 1px solid $base-border-color;
  }

  .benefit-block {
    @include span-columns(12);
    padding: 0;
    background: none;
    border: none;

    @include media($medium-up) {
      @include span-columns(4);
      padding: 2em;
    }

  }

  .step-by-step {
    @extend %inverse;

      .step {
        display: block;
        @include media($medium-up) {
          @include span-columns(4);
        }
      }
  }

  .contact {
    text-align: center;
  }
}


.payroll-instructions {
  @include row();
  border-top: 1px solid #fff;
  margin-top: em(20);
  padding-top: em(20);
}

.payroll-logos {
  padding: 2em 0;
  li {
    @include span-columns(3);
    text-align: center;

    img {
      vertical-align: middle;
    }
  }
}

.lead-capture {
  @include media($medium-up) {
    @include span-columns(6);
    @include shift(3);
  }
}

.resource-link {
  @include span-columns(12);
  padding-top: 1em;
}
//
// .materials-preview {
//   display: none;
//
//   @include media($medium-up) {
//     display: block;
//     @include span-columns(4);
//   }
// }

/**************************/
/* Home Page
/**************************/

.home {
  .block {
    @include span-columns(12);
    margin-top: 2px;
    padding: 1.5em;
    background-color: #fff;
    background-color: rgba(255,255,255,.9);

    a {
      font-size: $base-font-size * 1.333;
      font-weight: bold;
      text-align: center;
    }

    @include media($medium-up) {
      @include calc(width, '50% - 1px');
      float: left;
      margin-right: 2px;
      margin-left: 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}


/**************************/
/* Default */
/**************************/

.default {
  .page-content {
    @include media($large-up) {
      @include span-columns(8);
      float: none;
    }
  }

  h2 {
    text-align: left;
    margin-bottom: 0;
  }
}

.card-column {
  @include span-columns(12);

  @include media($medium-up) {
    @include span-columns(6);
  }
}

.card {
  padding: 2em;
  background: $light-gray;
  margin-bottom: 2em;

  &:nth-child(even) {
    background: darken($light-gray, 5%);
  }

}

.downloads-list {
  @extend %default-ol;
}

/**************************/
/* Tooltips */
/**************************/
.tooltip {
  border-bottom: 1px dotted $myra-green;
}

/**************************/
/* Styleguide */
/**************************/

.styleguide {
  .hero {
    background: none;
  }
}

/**************************/
/* December 15 Styles */
/**************************/

.live {
  .hero-signup {
    text-align: center;

    .button {
      @include span-columns(4 of 8);
      @include shift(2);
      text-align: center;
    }

    .signup {
      @include clearfix();
      padding-bottom: 1em;
    }

    .account-signin {
      clear: both;
      width: 100%;
      padding-top: 1em;
      margin-top: 1em;
      border-top: 1px solid $myra-blue1;
    }
  }
}
