// Styles explanatory elements of the styleguide page

.styleguide {
  header {
    padding: em(20);
    background: $light-gray;

    h2 {
      color: $medium-gray;
    }
  }

  section {
    border: 1px solid $light-gray;
    margin-bottom: em(20);
  }

  article {
    padding: em(20);
  }
}

.pagination {
  @extend %pagination;
}
