<p>You can contribute as much as you want—$50, $25, $7, you name it—to your <span class="myra">myRA</span>. And you can keep on contributing until you hit $15,000 or 30 years, whichver comes first.</p>
<p>Drag the sliders below to see how long it will take you to reach a goal of $15,000.</p>
<div class="calculator-input-group">
  <div class="calculator-label">Monthly savings: <span class="slider-value" id="input-1-value"></span></div>
  <div class="calculator-input" id="input-1"></div>
</div>
<div class="calculator-input-group">
  <div class="calculator-label">How long are you saving for? <span class="slider-value" id="input-2-value"></span></div>
  <div class="calculator-input" id="input-1"></div>
</div>
<div class="calculator-input-group">
  <h3 class="calculator-result">Total savings: <span id="calculator-result-value"></span></h3>
</div>
