<section id="calculator">
  <div class="container">
    <div class="section-intro">
      <h2><i class="fa fa-line-chart"></i> Understanding Retirement Savings</h2>
      <p>Saving for retirement can be complicated. But myRA helps make it easy. The most important thing is that you start saving now, and that you try to reach $15,000 in your myRA as soon as possible.</p>
    </div>
    <div class="education">
      <div class="left">
        <h3>Start saving for retirement now</h3>
        <p>Experts agree that the most valuable thing you can do for your retirement savings is to start saving early.</p>
        <p>The sooner you start saving, the more time your money can earn interest and the more money you can retire with.</p>
      </div>
      <div class="right">
        <img src="{{ site.baseurl }}/static/img/chart.png" alt="Savings by retirement at $100 a month">
      </div>
    </div>
    <div class="calculator">
      <div class="calculator-intro">
        <h3>How fast can you fill your myRA?</h3>
        <p>myRA is a perfect way to kickstart your retirement savings, helping you get your first $15,000 saved that you can then roll over to a private Roth IRA.</p>
        <p>See how fast you reach $15,000 in your myRA.</p>
      </div>
      <div class="calculator-row">
        <div class="calculator-input-group" id="calculator-1">
          <label class="calculator-label" for="input-1">1. Monthly savings:</label>
          <input class="calculator-input" id="input-1" type="text">
          <div class="calculator-slider" id="input-1-slider"></div>
        </div>
        <div class="calculator-helper">
          <p>How easy is it to save <span class="monthly-rate">$50</span> a month?</p>
          <p>That's just <span class="daily-rate">$1.66</span> a day.</p>
        </div>
      </div>
      <div class="calculator-row">
        <div class="calculator-input-group" id="calculator-2">
          <label class="calculator-label" for="input-2">2. Years saved:</label>
          <input class="calculator-input" id="input-2" type="text">
          <div class="calculator-slider" id="input-2-slider"></div>
        </div>
        <div class="calculator-helper">
          <p>Great! You can fill your myRA in just <span class="years-to-goal">15</span> years.</p>
        </div>
      </div>
      <div class="calculator-row results">
        <div class="calculator-input-group" >
          <h4 class="calculator-label">Total myRA Savings:</h4>
          <span class="total-saved">$15,000</span>
          <div class="meter">
            <div class="tic-marks">
              <span class="tic"></span>
              <span class="tic"></span>
              <span class="tic"></span>
              <span class="tic"></span>
              <span class="tic"></span>
              <span class="tic"></span>
              <span class="tic"></span>
              <span class="tic"></span>
              <span class="tic"></span>
            </div>
            <div class="meter-p meter-inner">
              <span class="meter-label-number principal-saved">$10,000</span>
              <span class="meter-label">Principal</span>
            </div>
            <div class="meter-i meter-inner">
              <span class="meter-label-number interest-earned">$4,200</span>
              <span class="meter-label">Interest</span>
            </div>
          </div>
        </div>
        <div class="calculator-helper">
          <p>That’s <span class="interest-earned">$4,200</span> in free money you get just for saving!</p>
        </div>
      </div>
    <div> <!-- .calculator -->
  </div>
</section>
