<section id="calculator">
  <div class="container">
    <div class="section-intro">
      <h2><i class="fa fa-line-chart"></i> How much can I save?</h2>
      <p>You can save up to $15,000 in your <span class="myra">myRA</span> before you will need to transfer it to a private Roth Individual Retirement Account. Until then, you can save a lot or a little each pay period&mdash;it's up to you. Use this calculator to see how your savings add up over time, both in a <span class="myra">myRA</span> and beyond.</p>
    </div>
    <div class="calculator">
      <h4>Retirement Calculator</h4>
      <div class="calculator-input-group" id="calculator-1">
        <label class="calculator-label" for="input-1">1. How old are you?</label>
        <input class="calculator-input" type="text" id="input-1" value="25" placeholder="Age">
      </div>

      <div class="calculator-input-group" id="calculator-2">
        <label class="calculator-label" for="input-2">2. How much can you save each month?</label>
        <input class="calculator-input" id="input-2" type="text">
        <div class="calculator-slider" id="input-2-slider"></div>
      </div>

<!--      <div class="calculator-input-group" id="calculator-3">
        <label class="calculator-label" for="input-2">3. View results under different interest rates:</label>
        <div class="toggle-buttons">
          <button data-apr=".01">Low</button>
          <button data-apr=".035" class="selected">Average</button>
          <button data-apr=".05">High</button>
        </div>
      </div> -->
      <div id="calculator-results">
        <div class="graph">
          <h5><i class="fa fa-line-chart"></i> Your <span class="myra">myRA</span> savings projection</h5>
          <canvas id="projection"></canvas>
          <div class="calculator-legend">
            <div class="swatch-row"><span class="swatch base"></span>If you save <span class="rate base"></span> each month.</div>
            <div class="swatch-row"><span class="swatch reach"></span>If you save <span class="rate reach"></span> each month.</div>
          </div>
        </div>
        <div class="summary">
          <!-- <h5><i class="fa fa-calendar"></i> Years to reach $15,000</h5>
          <div class="row summary-years">
            <div class="result base">
              <span class="big-number">x years</span>
              <span class="number-label">if you save <span class="rate base"></span> each month.</span>
            </div>
            <div class="result reach">
              <span class="big-number ">x years</span>
              <span class="number-label">if you save <span class="rate reach"></span> each month.</span>
            </div>
          </div> -->
          <h5><i class="fa fa-money"></i> Total savings by retirement</h5>
          <div class="row summary-savings">
            <div class="result base">
              <span class="big-number"></span>
              <span class="number-label">if you save <span class="rate base"></span> each month.</span>
            </div>
            <div class="result reach">
              <span class="big-number"></span>
              <span class="number-label">if you save <span class="rate reach"></span> each month.</span>
            </div>
          </div>
          <h5><i class="fa fa-certificate"></i> Reach goal</h5>
          <div class="reach-goal-explanation">
            <p>Saving just a little bit more early on will pay off greatly by retirement. We calculated what would happen if you saved <span class="rate reach"></span> every month instead of <span class="rate base"></span>. Saving just 20% more now means you will have __ % more by the time you retire.</p>
          </div>
        </div>
      </div>
    </div> <!-- .calculator -->
  </div>
</section>
