<section class="calculator">
  <div class="container">
    <h2>See what a myRA can do for you</h2>
    <p>With myRA, you have total control over how you save for your future. Save a lot or a little, and change your contribution any time. To get a sense of how your savings will add up over time, use this calculator.</p>
    <p class="small">The information you enter here is entirely confidential and will not be saved.</p>
    <div class="calculator-input-group" id="calculator-1">
      <p class="calculator-instructions">First, let’s see how long you have until retirement.</p>
      <label class="calculator-label" for="input-1">How old are you?</label>
      <input class="calculator-input" type="text" id="input-1" placeholder="Enter your age">
    </div>

    <div class="calculator-input-group" id="calculator-2">
      <p class="calculator-instructions">Starting today, how much money could you comfortably save every month?</p>
      <label class="calculator-label" for="input-2" class="span-columns-4">Monthly savings:</label> <input class="calculator-input" id="input-2" type="text">
      <div class="calculator-slider" id="input-2-slider"></div>
    </div>

    <div class="calculator-input-group" id="calculator-3">
      <p class="calculator-instructions">Now, what if you saved just a little bit more?</p>
      <label class="calculator-label" for="id-3">Monthly savings:</label>
      <input class="calculator-input" id="input-3" type="text">
      <div class="calculator-slider" id="input-3-slider"></div>
    </div>

    <div id="calculator-results">
      <h4>Your myRA savings projection</h4>
      <div class="hidden result-label base-goal">If you started saving <span class="savings-rate" id="base-rate"></span> month today, you’d have <span class="calculator-result" id="result-1"></span> by the time you’re 65.</div>
      <div class="hidden result-label reach-goal">And if you save <span class="savings-rate" id="reach-rate"></span> you’d have <span class="calculator-result" id="result-2"></span></div>
      <div class="hidden result-label">By comparison, if you were to just keep that money in a traditional savings account, you would only save $[traditional] by the time you retire.</div>
      <canvas class="hidden" id="projection"></canvas>
    </div>
  </div>
</section>
