<div class="calculator-input-group" id="calculator-1">
  <label class="calculator-label" for="input-1">First, how old are you?</label>
  <input class="calculator-input" type="text" id="input-1">
</div>

<div class="calculator-input-group" id="calculator-2">
  <div class="calculator-label">How much do you want to save each month? <span class="slider-value" id="input-2-value"></span></div>
  <div class="calculator-input" id="input-2"></div>
</div>

<div id="calculator-results">
  <h4>Here's what you'll have by retirement if...</h4>
  <div class="row" id="calculator-3">
    <div class="result-label">...you start saving now: <span class="calculator-result" id="result-1"></span></div>
  </div>

  <div class="row" id="calculator-4">
    <div class="result-label">...you start saving in 10 years: <span class="calculator-result" id="result-2"></span></div>
  </div>

  <canvas id="projection" width="800" height="300"></canvas>
</div>
