<section class="center-align" id="call-to-action">
  <div class="container">
    <h2>Start growing for your future today</h2>
    <p>Sign up for the waiting list and be among the first to set up a myRA.</p>
    <div class="row">
      <form>
        <label for="email-address">Enter your email address</label>
        <div class="input-group">
          <input type="email" id="email-address">
          <input type="submit" value="Sign Up">
        </div>
      </form>
    </div>
    <p>On December 15, 2014 we’ll start inviting people on the waiting list to create their myRA accounts.</p>
  </div>
</section>
