<section class="call-to-action center-align">
  <div class="container">
    <h2>Sign up to be among the first to know about myRA</h2>
    <p>Employers will be able to sign up for myRA later this year.</p>
    <form>
      <fieldset class="input-group">
        <label for="company-name">Company name</label>
        <input id="company-name" type="text">
        <label for="employer-name">Your name</label>
        <input id="employer-name" type="text">
        <label for="employer-email">Your email address</label>
        <input id="employer-email" type="email">
        <input type="submit" value="Sign up">
      </fieldset>
    </form>
  </div>
</section>
