<section id="myra-story">
  <ul class="bxslider">
    <li class="slide" id="slide-1">
      <div class="container">
        <h3>The myRA story</h3>
        <p>Learn how myRA works through the life of Olivia.</p>
        <button>Begin</button>
      </div>
    </li>
    <li class="slide" id="slide-2">
      <div class="container">
        <h3>Meet Olivia</h3>
        <p>She just graduated from college and started a new job.</p>
        <p>So she opened an myRA.</p>
        <p>Her employer is already a myRA partner, so she just asks them to put $25 every month into her account.</p>
      </div>
    </li>
    <li class="slide" id="slide-3">
      <div class="container">
        <h3>And then Olivia moved and got a new job.</h3>
        <p>She tells her new employer to keep depositing into her account.</p>
      </div>
    </li>
    <li class="slide" id="slide-4">
      <div class="container">
        <h3>Olivia gets a big promotion.</h3>
        <p>She bumps her monthly savings up to $100 and now her myRA is really growing.</p>
      </div>
    </li>
    <li class="slide" id="slide-5">
      <div class="container">
        <h3>Olivia has some unexpected hospital bills.</h3>
        <p>She withdraws $3,000 from her myRA tax-free and penalty-free and she lowers her monthly contribution to $25 for a few months.</p>
      </div>
    </li>
    <li class="slide" id="slide-6">
      <div class="container">
        <h3>After 15 years she’s reached $15,000!</h3>
        <p>Olivia can’t save any more money in her myRA but she can now roll it over to a Roth IRA.</p>
      </div>
    </li>
  </ul>
</section>
