<section class="step-by-step {% if page.title == "v3" %} stacked-steps {% endif %}">
  <div class="container">
    <h2>How it works</h2>
    <div class="row">
      <ul class="tabs">
        <li><a class="tab active" href="#step-1">1. Create an account</a></li>
        <li><a class="tab" href="#step-2">2. Set up monthly savings</a></li>
        <li><a class="tab" href="#step-3">3. Sit back, relax, and stay in control</a></li>
        <li><a class="tab" href="#step-4">4. Take the next step</a></li>
      </ul>
      <div class="tab-content">
        <article class="active" id="step-1">
          <h3>1. Create an account</h3>
          <p>Whether or not your employer participates in myRA, your first step is to create an account. Creating an account is easy—it takes just __ minutes. Once myRA is open to the public on December 15, just return here to get started.</p>
        </article>
        <article id="step-2">
          <h3>2. Set up monthly savings</h3>
          <p>With your account set up, it’s time to start saving money. There’s two ways to save:</p>
          <ol>
            <li>1) If your employer is a myRA partner, just ask them to set aside a portion of your paycheck into your myRA. And if you have multiple jobs, you can have them all contribute to the same account. Instructions for setting up employer paycheck contributions »</li>
            <li>2) If your employer is not a myRA partner, or if you’re self-employed, you can simply tell your bank to deposit a set amount of money every month from your account into your myRA. Instructions for setting up bank account deposits »</li>
          </ol>
        </article>
        <article id="step-3">
          <h3>3. Sit back, relax, and stay in control</h3>
          <p>Because your myRA is receiving automatic savings, all you have to do is watch your money grow. myRA accounts earn the same variable savings rate that federal employee retirement plans earn, usually around __%. </p>
          <p>You can login to your myRA account to check your balance and manage account settings just like you can at your own bank. And of course, it is your money, so you’re in control. You can change your contribution—or stop entirely—at any point, and you can even withdraw your principal (the money you put in, not the interest you earn) whenever you want.</p>
        </article>
        <article id="step-4">
          <h3>4. Take the next step</h3>
          <p>You can keep saving money in your myRA for 30 years or until you reach $15,000. Once that happens, you can move the money into a private retirement account and earn even more interest. Or you could decide just to keep it in your myRA until you retire. It’s up to you.</p>
        </article>
      </div>
    </div>
    <h4 class="center-align"><a href="{{site.baseurl}}/about">Learn more about myRA</a></h4>
  </div>
</section>
