  <footer class="site-footer" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">
    <div class="main-footer">
      <div class="container">
        <aside class="left">
          <h4><span class="myra">myRA</span>: My Retirement Account</h4>
          <p><span class="myra">myRA</span> is a retirement savings account for individuals looking for a simple, safe and affordable way to start saving. Starting on January 1, 2015, individuals will be able to open accounts and begin contributing to them every payday. <span class="myra">myRA</span>s will be initially offered through employers, balances will never go down, and there will be no fees. <span class="myra">myRA</span>s will hold a new retirement savings bond that will be backed by the U.S. Treasury.</p>
        </aside>
        <aside class="right">
          <h4>Questions?</h4>
          <ul class="contact-info">
            <li itemprop="publisher" itemscope itemtype="http://schema.org/ContactPoint">Contact <span itemprop="name">the United States Treasury</span> about <span class="myra">myRA</span></li>
            <li>Phone: <span itemprop="telephone">(800) 553-2663</span></li>
            <li>Email <a href="mailto:myra@treasury.gov" itemprop="email">myra@treasury.gov</a>.</li>
          </ul>
          <img class="seal" src="{{ site.baseurl }}/static/img/treasury_seal.png" alt="U.S. Treasury Seal">
        </aside>
      </div>
    </div>
    <div class="sub-footer">
      <div class="container">
        <span class="small left"><span class="myra">myRA</span> is a service mark of the U.S. Department of the Treasury.</span>
        <ul class="horizontal-list">
          <li><a href="{{ site.baseurl }}/privacy">Privacy Policy</a></li>
          <li><a href="{{ site.baseurl }}/accessibility">Accessibility</a></li>
          <li><a href="{{ site.baseurl }}/termsandconditions">Website Terms and Conditions</a></li>
          <li><a href="{{ site.baseurl }}/sitemap">Site Map</a></li>
        </ul>
      </div>
    </div>

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-48605964-14', 'auto');
    ga('send', 'pageview');

    </script>


    <script type="text/javascript" src="{{ site.baseurl }}/static/js/retina.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/static/js/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/static/js/jquery.nouislider.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/static/js/jquery.tooltipster.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/static/js/init.js"></script>
    
  </footer>
</body>
