<footer class="site-footer">
  <div class="main-footer">
    <div class="container">
      <aside class="left">
        <h4>About myRA</h4>
        <p>myRA is a retirement savings account for individuals looking for a simple, safe and affordable way to start saving. Starting on January 1, 2015, individuals will be able to open accounts and begin contributing to them every payday. myRAs will be initially offered through employers, balances will never go down, and there will be no fees. myRAs will hold a new retirement savings bond that will be backed by the U.S. Treasury.</p>
        <p class="bold">For more information, call (800) 553-2663.</p>
      </aside>
      <img class="seal" src="{{ site.baseurl }}/static/img/seal_treasury.png" alt="U.S. Treasury Seal">
    </div>
  </div>
  <div class="sub-footer">
    <div class="container">
      <span class="small left">myRA is a service mark of the U.S. Department of the Treasury.</span>
      <ul class="horizontal-list">
        <li>Privacy Policy</li>
        <li>Accessibility</li>
        <li>Website Terms and Conditions</li>
        <li>Site Map</li>
      </ul>
    </div>
  </div>

  // <script>
  // (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  // (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  // m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  // })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  //
  // ga('create', 'UA-48605964-14', 'auto');
  // ga('send', 'pageview');
  //
  // </script>

</footer>
