<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ site.title }} | {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta name="description" content="{{ site.description }}">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <!-- Twitter and OpenGraph data
    ================================================== -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@USTreasury">
    <meta name="twitter:title" content="{{ site.title }} | {{ page.title | xml_escape }}">
    <meta name="twitter:image" content="{{ site.baseurl }}/static/img/fb.png">
    <meta name="twitter:url" content="{{ site.url }}">
    <meta name="twitter:description" content="{{ site.description | xml_escape }}" />

    <meta property="og:site_name" content="{{ site.title | xml_escape }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:title" content="{{ site.title }} | {{ page.title | xml_escape }}" />
    <meta property="og:description" content="{{ site.description | xml_escape }}" />
    <meta property="og:image" content="{{ site.baseurl }}/static/img/fb.png" />

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{{ "/static/css/normalize.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/static/css/style.css" | prepend: site.baseurl }}">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ site.baseurl }}/static/css/simple-line-icons.css" type='text/css'>

    <!-- IE 8 and lower
    ================================================== -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="{{ site.baseurl }}/static/js/jquery-1.11.1.min.js"></script>
      <script type="text/javascript" src="{{ site.baseurl }}/static/js/html5shiv.min.js"></script>
      <script type="text/javascript" src="{{ site.baseurl }}/static/js/selectivizr.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
      <link rel="stylesheet" href="{{ "/static/css/ie.css" | prepend: site.baseurl }}">
    <![endif]-->

    <script type="text/javascript" src="{{ site.baseurl }}/static/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/static/js/retina.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/static/js/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/static/js/jquery.nouislider.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/static/js/jquery.tooltipster.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/static/js/init.js"></script>

    {% if page.title == 'For Individuals' %}
    <script type="text/javascript" src="{{ site.baseurl }}/static/js/calculator.js"></script>
    {% endif %}

</head>
