<body class="{{ page.bodyclass }}" role="document" itemscope itemtype="http://schema.org/WebPage">

  <!--[if lt IE 8]>
  <div class="ie-warning">
    <div class="container">
      <p>Sorry, but this site is not supported on Internet Explorer 7 and older. Please use another browser, or upgrade to a more recent version of Internet Explorer.</p>
      <p>For more information on the browsers available to you, go to: <a href="http://whatbrowser.org">http://whatbrowser.org</a>.</p>
    </div>
  </div>
  <![endif]-->

  <form action="https://signup.ibanking-services.com/olnas/OLNASServlet/StappsApp" method="POST"> 
    <input type="hidden" name="id" value="221"> 
    <input type="hidden" name="prodid" value=" 84586"> 
    <input type="submit" name="Signup" value="Signup" > 
  </form> 

  <a href="https://manage.ibanking-services.com/cib/CEBMainServlet/Login?FIORG=221&FIFID=111925074">Manage</a>

  <header class="site-header" role="banner" itemscope itemtype="http://schema.org/WPHeader">
    <a class="skip-nav" tabindex="1" href="#main">Skip to main content</a>
    <div class="status">
      <div class="container">
        <p class="coming-soon">Coming soon from the U.S. Department of the Treasury</p>
        <p class="beta">This site is in beta. <button class="toggle" data-toggle="beta-message">Learn more.</button></p>
      </div>
      <div id="beta-message" aria-role="complementary" aria-expanded="false" class="toggle-item">
        <div class="container">
          <p>This site is in beta, which means we are constantly improving the site. We welcome your feedback. Please email your comments to <a href="mailto:myra@treasury.gov">myra@treasury.gov</a>. <button class="toggle close" aria-controls="beta-message" data-toggle="beta-message">Close <i class="icon-close"></i></button></p>
        </div>
      </div>
    </div>
    <div class="header-container container">

      <a class="logo" href="{{ site.baseurl }}/" title="Home"><h1 class="site-title" itemprop="name">myRA: My Retirement Account</h1></a>

      <nav class="site-nav" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
        <ul role="menubar">
          <li role="menuitem"><a aria-label="{% if page.title == 'For Individuals' %}Current Page{% endif %}" class="page-link {% if page.title == 'For Individuals' %}current-page {% endif %}" href="{{ site.baseurl }}/individuals/">For Individuals</a></li>
          <li role="menuitem"><a aria-label="{% if page.title == 'For Employers' %}Current Page{% endif %}" class="page-link {% if page.title == 'For Employers' %}current-page {% endif %}" href="{{ site.baseurl }}/employers">For Employers</a></li>
          <li role="menuitem"><a aria-label="{% if page.title == 'About myRA' %}Current Page{% endif %}" class="page-link {% if page.title == 'About myRA' %}current-page {% endif %}" href="{{ site.baseurl }}/about">About <span class="myra">myRA</span></a></li>
        </ul>
      </nav>

    </div>

  </header>
