<body class="{{ page.bodyclass }}" role="document" itemscope itemtype="http://schema.org/WebPage">

  <!--[if lt IE 8]>
  <div class="ie-warning">
    <div class="container">
      <p>Sorry, but this site is not supported on Internet Explorer 8 and older. Please use another browser, or upgrade to a more recent version of Internet Explorer.</p>
      <p>For more information on the browsers available to you, go to: <a href="http://whatbrowser.org">http://whatbrowser.org</a>.</p>
    </div>
  </div>
  <![endif]-->

  <header class="site-header" role="banner" itemscope itemtype="http://schema.org/WPHeader">
    <a class="skip-nav" tabindex="1" href="#main">Skip to main content</a>
    <div class="container">
      <div class="alpha">
        <span>This site is in alpha. The content contained is not final and is not reflective of the ultimate policy.</span>
      </div>
    </div>
    <div class="container">

      <a class="logo" href="{{ site.baseurl }}/" title="Home"><h1 class="site-title" itemprop="name">myRA: My Retirement Account</h1></a>

      <nav class="site-nav" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
        <ul role="menubar">
          <li role="menuitem"><a class="page-link {% if page.title == 'For Individuals' %}current-page {% endif %}" href="{{ site.baseurl }}/individuals/">For Individuals</a></li>
          <li role="menuitem"><a class="page-link {% if page.title == 'For Employers' %}current-page {% endif %}" href="{{ site.baseurl }}/employers">For Employers</a></li>
          <li role="menuitem"><a class="page-link {% if page.title == 'About myRA' %}current-page {% endif %}" href="{{ site.baseurl }}/about">About <span class="myra">myRA</span></a></li>
        </ul>
      </nav>

    </div>

  </header>
