<section class="call-to-action">
  <div class="container">
    <h2>Start saving for your future today</h2>
    <div class="cta-intro">
      <p class="lead-text">In December 2014, we will start inviting people to create their <span class="myra">myRA</span> accounts. If you would like to be notified when enrollment is open, enter your email address here.</p>
      <p class="lead-text">Once enrollment opens, we will email you with instructions on how to open your account.</p>
    </div>
    <form id="email-capture">
      <!-- <label for="email-address">Enter your email address</label> -->
      <input type="email" id="email-address" placeholder="email address">
      <button class="submit" value="Sign Up">Alert me when I can open my account</button>
    </form>
  </div>
</section>
