<section id="benefits" class="value-proposition" role="region" aria-labelledby="benefits-heading">
  <div class="container">
    <h2 id="benefits-heading"><i class="fa fa-heart"></i> What's great about <span class="myra">myRA</span>?</h2>
    <p class="call-out">Whether you’re regularly saving $50, $25, or $7 <span class="myra">myRA</span> is the perfect way to kickstart saving for your future.</p>
    <aside>
      <h3>Simple</h3>
      <ul>
        <li>Portable – not tied to a single employer</li>
        <li>Can withdraw from the principal without penalty</li>
        <li>Deposits automatically every payday</li>
      </ul>
    </aside>
    <aside>
      <h3>Safe</h3>
      <ul>
        <li>Will never go down in value</li>
        <li>Investment is backed by the U.S. Treasury</li>
        <li>Information is private and secure</li>
      </ul>
    </aside>
    <aside>
      <h3>Affordable</h3>
      <ul>
        <li>No fees</li>
        <li>No cost to open an account</li>
        <li>Contribute every payday ($50, $25, $7—any amount!)</li>
        <li><a class="tooltip" title="A Roth IRA is a certain type of retirement plan under US law that is generally not taxed, provided certain conditions are met.">Roth IRA tax advantages <i class="fa fa-question-circle"></i></a></li>
      </ul>
    </aside>
  </div>
</section>
