<section id="benefits" class="value-proposition">
  <div class="container">
    <p class="h3 center-align">Whether you’re regularly saving $50, $25, or $7 myRA is the perfect way to kickstart saving for your future.</p>
    <aside class="span-columns-4">
      <h3>Simple</h3>
      <ul>
        <li>Portable – not tied to a single employer</li>
        <li>Contributions can be withdrawn tax free</li>
        <li>Earnings can be withdrawn tax free after five years and the saver is 59 ½</li>
        <li>Deposits automatic every payday</li>
      </ul>
    </aside>
    <aside class="span-columns-4">
      <h3>Safe</h3>
      <ul>
        <li>Will never go down in value</li>
        <li>Low risk</li>
        <li>Backed by the U.S. Treasury</li>
        <li>Information is private and secure</li>
      </ul>
    </aside>
    <aside class="span-columns-4">
      <h3>Affordable</h3>
      <ul>
        <li>No fees</li>
        <li>No cost to open an account</li>
        <li>Contribute every payday ($50, $25, $7—any amount!)</li>
        <li>Roth IRA tax advantages</li>
      </ul>
    </aside>
  </div>
</section>
