<section id="how" class="step-by-step stacked-steps" role="region" aria-labelledby="how-heading">
  <div class="container">
    <div class="section-intro">
      <h2 id="how-heading"><i class="icon-settings"></i> How does it work?</h2>
      <p><span class="myra">myRA</span> has been designed for you. Each pay period, you’ll be able to automatically deposit money from your paycheck into a <span class="myra">myRA</span> account. This money will grow risk-free, earning interest. You can save up to $15,000 this way.</p>
      <p><strong>Here's how it works:</strong></p>
    </div>
    <ul class="tab-nav" role="tablist">
      <li><a href="#step-1" id="tab-1" class="tab" role="tab" aria-controls="step-1" aria-selected="true">1. Create an account</a></li>
      <li><a href="#step-2" id="tab-2" class="tab" role="tab" aria-controls="step-2" aria-selected="false">2. Set up regular savings</a></li>
      <li><a href="#step-3" id="tab-3" class="tab" role="tab" aria-controls="step-3" aria-selected="false">3. Watch your investment grow</a></li>
      <li><a href="#step-4" id="tab-4" class="tab" role="tab" aria-controls="step-4" aria-selected="false">4. Take the next step</a></li>
    </ul>
    <div class="tab-content">
      <div class="active step" id="step-1" aria-labelledby="tab-1" aria-hidden="false">
        <div class="step-content">
          <h3 class="numbered-heading"><span class="numbered-heading-number">1.</span><span class="numbered-heading-title">Create an account</span></h3>
          <p>When <span class="myra">myRA</span> becomes available, you will be able to open your <span class="myra">myRA</span> account by providing your information online or by phone&mdash;it will take about 10 minutes.</p>
        </div>
        <div class="step-image">
        </div>
      </div>
      <div class="step" id="step-2" aria-labelledby="tab-2" aria-hidden="true">
        <div class="step-content">
          <h3 class="numbered-heading"><span class="numbered-heading-number">2.</span><span class="numbered-heading-title">Set up regular contributions from your paycheck</span></h3>
          <p>Give a direct deposit authorization form to your employe. You will have the option to print one when you open your account, or use the one you receive in the mail with your welcome package. If you want to contribute from multiple jobs, give each employer a form.</p>
        </div>
        <div class="step-image">
        </div>
      </div>
      <div  class="step" id="step-3" aria-labelledby="tab-3" aria-hidden="true">
        <div class="step-content">
          <h3 class="numbered-heading"><span class="numbered-heading-number">3.</span><span class="numbered-heading-title">Sit back, relax, and watch your savings grow</span></h3>
          <p>Because of your automatic contributions, all you have to do is watch your savings grow. <span class="myra">myRA</span> contributions earn a variable rate similar to the low-risk Treasury investment option offered to federal government employees. You’ll be able to check your balance and manage your account online 24/7. </p>
        </div>
        <div class="step-image">
        </div>
      </div>
      <div  class="step" id="step-4" aria-labelledby="tab-4" aria-hidden="true">
        <div class="step-content">
          <h3 class="numbered-heading"><span class="numbered-heading-number">4.</span><span class="numbered-heading-title">Reach your goal</span></h3>
          <p>You can keep saving money in your <span class="myra">myRA</span> for 30 years or until you’ve saved $15,000. However, you can move your money into a private-sector Roth IRA, where you can continue to add to your savings and manage your account.</p>
        </div>
        <div class="step-image">
        </div>
      </div>
    </div> <!-- .tab-body -->
  </div>
</section>
