<section class="call-to-action" role="region" aria-labelledby="call-to-action-heading">
  <div class="container">
    <h2 id="call-to-action-heading">Start saving today</h2>
    <div class="cta-intro">
      <p class="lead-text">Signing up for <span class="myra">myRA</span> is easy and only takes 10 minutes.</p>
    </div>
    <form action="https://signup.ibanking-services.com/olnas/OLNASServlet/StappsApp" method="POST">
      <input type="hidden" name="id" value="221">
      <input type="hidden" name="prodid" value="84586">
      <button class="button signup-button" type="submit" name="Signup">Sign up for <span class="myra">myRA</span> <i class="icon-arrow-right"></i></button>
    </form>
    <div class="account-signin">
      <span>Already have a <span class="myra">myRA</span>?</span>
      <a class="manage-link" href="https://manage.ibanking-services.com/cib/CEBMainServlet/Login?FIORG=221&FIFID=111925074">Manage your account</a>
    </div>

  </div>
</section>
