<section id="benefits" class="value-proposition" role="region" aria-labelledby="benefits-heading">
  <div class="container">
    <div class="section-intro u-center">
      <h2 id="benefits-heading"><i class="icon-heart"></i> Why is <span class="myra">myRA</span> a good option?</h2>
      <p class="lead-text">Saving is now easier than ever. Whether you can regularly save $7, $25, $50 or $100 a month, <span class="myra">myRA</span> is a simple and reliable way to kick start saving for your future.</p>
    </div>
    <div class="object--third">
      <h3>Simple</h3>
      <ul class="default-ul">
        <li>Contribute automatically every payday</li>
        <li>If you change jobs, the account stays with you</li>
        <li>Withdraw the money you put into your account at any time without paying tax and penalty</li>
        <li>Withdraw interest you earn without paying tax and penalty under <span class="tooltip" title="Withdraw interest earned without tax and penalty five years after your first contribution if you are over age 59 1/2 or meet certain other conditions, such as using the funds for the purchase of your first home." aria-label="Withdraw interest earned without tax and penalty five years after your first contribution if you are over age 59 1/2 or meet certain other conditions, such as using the funds for the purchase of your first home." tabindex="0">certain conditions <sup><i class="icon-info"></i></sup></span></li>
      </ul>
    </div>
    <div class="object--third">
      <h3>Safe</h3>
      <ul class="default-ul">
        <li><span class="myra">myRA</span> will not go down in value</li>
        <li>The investment is backed by the United States Treasury</li>
        <li>Your information is private and secure</li>
      </ul>
    </div>
    <div class="object--third">
      <h3>Affordable</h3>
      <ul class="default-ul">
        <li>It costs you nothing to open an account</li>
        <li>You pay no fees for maintenance of the account </li>
        <li>You contribute as much as you choose every payday ($2, $20, $200 &mdash; <span class="tooltip" title="You may contribute up to $5,500 per year (or $6,500 per year for individuals 50 years of age or older at the end of the year). Annual and lifetime contribution limits and annual earned income limits apply, as do conditions for tax-free withdrawal of interest. Limits listed are for 2015 and may be adjusted annually for cost-of-living increases." aria-label="You may contribute up to $5,500 per year (or $6,500 per year for individuals 50 years of age or older at the end of the year). Annual and lifetime contribution limits and annual earned income limits apply, as do conditions for tax-free withdrawal of interest. Limits listed are for 2015 and may be adjusted annually for cost-of-living increases." tabindex="0">whatever fits your budget!)<sup><i class="icon-info"></i></sup></span></li>
        <li>Enjoy the tax advantages this type of investment brings. <a href="{{ site.baseurl }}/roth-ira">Learn more about the key features and details of a Roth IRA here.</a></li>
      </ul>
    </div>
  </div>
</section>
