<section id="how" class="step-by-step {% if page.title == "Individuals" %} stacked-steps {% endif %}">
  <div class="container">
    <div class="section-intro">
      <h2><i class="fa fa-gears"></i> How does it work?</h2>
      <p>Some employers have already signed up—that is, they have agreed to help their employees contribute to <span class="myra">myRA</span> accounts by setting up automatic payroll direct deposit. You can participate whether or not your employer is making <span class="myra">myRA</span> available, and in either case the steps are the same.</p>
      <p>To find out if your employer is a <span class="myra">myRA</span>  partner, ask your human resources office or payroll provider.</p>
      <p>Interested individuals will be able to sign up for <span class="myra">myRA</span> starting December 15, 2014. Once enrollment is open, here is how it will work.</p>
    </div>
    <ul class="tabs">
      <li><a href="#step-1" class="tab active">1. Create an account</a></li>
      <li><a href="#step-2" class="tab">2. Set up regular savings</a></li>
      <li><a href="#step-3" class="tab">3. Watch your investment grow</a></li>
      <li><a href="#step-4" class="tab">4. Take the next step</a></li>
    </ul>
    <div class="tab-body">
      <div class="active step" id="step-1">
        <div class="step-content">
          <h4 class="numbered-heading"><span class="numbered-heading-number">1.</span><span class="numbered-heading-title">Create an account</span></h4>
          <p>Whether or not your employer participates in <span class="myra">myRA</span>, your first step is to create an account. Creating an account is easy—it takes just 5-10 minutes.</p>
          <p>Once you have created your <span class="myra">myRA</span>  account, you can also monitor your account on line.</p>
        </div>
        <div class="step-image">
        </div>
      </div>
      <div class="step" id="step-2">
        <div class="step-content">
          <h4 class="numbered-heading"><span class="numbered-heading-number">2.</span><span class="numbered-heading-title">Set up regular savings</span></h4>
          <p>With your account set up, it’s time to start saving money.</p>
          <p>If your employer is making <span class="myra">myRA</span> available, just ask them to set aside a portion of your paycheck into your <span class="myra">myRA</span>. And if you have multiple jobs, you can have them all contribute to the same account. Instructions for setting up employer paycheck contributions »</p>
          <p>-or- </p>
          <p>If your employer is not making <span class="myra">myRA</span> available, or if you’re self-employed, you can simply tell your bank to deposit a set amount of money on a regular ongoing basis from your account into your <span class="myra">myRA</span>. Instructions for setting up bank account deposits »</p>
        </div>
        <div class="step-image">
        </div>
      </div>
      <div  class="step" id="step-3">
        <div class="step-content">
          <h4 class="numbered-heading"><span class="numbered-heading-number">3.</span><span class="numbered-heading-title">Sit back, relax, and stay in control</span></h4>
          <p>Because your <span class="myra">myRA</span> is receiving automatic contributions, all you have to do is watch your money grow. <span class="myra">myRA</span> accounts earn the same variable rate as the low-risk Treasury investment option offered to federal government employees.</p>
          <p>You will be able to login to your <span class="myra">myRA</span> account to check your balance and manage account settings just like you can at your bank.  It’s your money and you’re in control. You can change your contribution as often as your employer will allow, and you can even withdraw your principal (the money you put in, not the interest you earn) whenever you want.</p>
        </div>
        <div class="step-image">
        </div>
      </div>
      <div  class="step" id="step-4">
        <div class="step-content">
          <h4 class="numbered-heading"><span class="numbered-heading-number">4.</span><span class="numbered-heading-title">Take the next step</span></h4>
          <p>You can keep saving money in your <span class="myra">myRA</span> for 30 years or until you’ve saved $15,000. Once you reach that milestone, you will move the money into a private Roth IRA and manage it from there.</p>
        </div>
        <div class="step-image">
        </div>
      </div>
    </div> <!-- .tab-body -->
  </div>
</section>
