<section class="call-to-action">
  <div class="container">
    <h2>Start saving for your future today</h2>
    <div class="cta-intro">
      <p class="lead-text">In December 2014, we will start inviting people to create their <span class="myra">myRA</span> accounts. If you would like to be notified when enrollment is open, enter your email address here.</p>
      <p class="lead-text">Once enrollment opens, we will email you with instructions on how to open your account.</p>
    </div>

    <!-- Begin MailChimp Signup Form -->
    <form action="//gsa.us9.list-manage.com/subscribe/post?u=6f1977de9eff4c384dc8d6527&amp;id=e65db09f01" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate email-capture" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_6f1977de9eff4c384dc8d6527_e65db09f01" tabindex="-1" value=""></div>
        <input type="submit" value="Alert me when I can open my account" name="subscribe" id="mc-embedded-subscribe" class="button">
      </div>
    </form>
    <!--End mc_embed_signup-->

  </div>
</section>
