<div id="signup-modal" class="modal" role="dialog" tabindex="-1" aria-label="You are about to leave myra.treasury.gov">
  <a class="close" title="Close this box" tabindex="0">Close <i class="icon-close"></i></a>
  <h2><i class="icon-compass"></i>Thanks for your interest in <span class="myra">myRA</span>! <br>We’re glad you stopped by.</h2>
  <p class="lead-text">We’re currently processing an unusually high number of enrollments.</p>
  <p class="lead-text">To ensure that you have the best possible enrollment experience, please check back later, when we can process your enrollment more quickly. Thank you for your patience.</p>
</div>

<div id="manage-modal" class="modal" role="dialog" tabindex="-1" aria-label="You are about to leave myra.treasury.gov">
  <a class="close" title="Close this box" tabindex="0">Close <i class="icon-close"></i></a>
  <h2><i class="icon-compass"></i> Before you go</h2>
  <p class="lead-text">You are about to leave myra.treasury.gov and be directed to a United States Treasury partner site to manage your <span class="myra">myRA</span> account.</p>
  <div class="button-container">
    <a class="button modal-site-exit" href="https://manage.ibanking-services.com/cib/CEBMainServlet/Login?FIORG=221&FIFID=111925074">Manage your account <i class="icon-arrow-right"></i></a>
    <p>Please check the privacy policy of the site you are visiting.</p>
  </div>
</div>
