<div id="signup-modal" class="modal">
  <a class="close">Close <i class="icon-close"></i></a>
  <h2><i class="icon-compass"></i> Before you go</h2>
  <p class="lead-text">You are about to leave myra.treasury.gov to sign up for <span class="myra">myRA</span>.</p>
  <p class="lead-text"><span class="myra">myRA</span> accounts are created and maintained by Comerica Bank under an agreement with the U.S. Treasury.</p>
  <div class="button-container">
    <form action="https://signup.ibanking-services.com/olnas/OLNASServlet/StappsApp" method="POST">
      <input type="hidden" name="id" value="221">
      <input type="hidden" name="prodid" value="84586">
      <button class="button signup-button" type="submit" name="Signup">I understand, continue to sign up <i class="icon-arrow-right"></i></button>
    </form>
  </div>
  <div class="modal-sub">
    <p>Please also check the Privacy Policy of the site you are visiting.</p>
    <span><span class="bold">Note:</span> Currently, <span class="myra">myRA</span> accounts are designed for you to fund from your paycheck through your employer’s direct deposit.<br>
    <br> <a href="{{ site.baseurl }}/individuals/signup-details">Click here to learn more &raquo;</a></span>
  </div>
</div>

<div id="manage-modal" class="modal">
  <a class="close">Close <i class="icon-close"></i></a>
  <h2><i class="icon-compass"></i> You are about to leave myra.treasury.gov</h2>
  <p class="lead-text">If you've already opened your <span class="myra">myRA</span> account and signed up for <span class="myra">myRA</span> Online, continue to manage your account.</p>
  <div class="button-container">
    <a class="button modal-site-exit" href="https://manage.ibanking-services.com/cib/CEBMainServlet/Login?FIORG=221&FIFID=111925074">Manage your account <i class="icon-arrow-right"></i></a>
  </div>
</div>
