<div id="signup-modal" class="modal" role="dialog" tabindex="-1" aria-label="You are about to leave myra.treasury.gov">
  <a class="close" tabindex="0">Close <i class="icon-close"></i></a>
  <h2><i class="icon-compass"></i> Before you go</h2>
  <p class="lead-text">You are about to leave myra.treasury.gov and be directed to a United States Treasury partner site to sign up for <span class="myra">myRA</span>.</p>
  <div class="button-container">
    <form action="https://signup.ibanking-services.com/olnas/OLNASServlet/StappsApp" method="POST">
      <input type="hidden" name="id" value="221">
      <input type="hidden" name="prodid" value="84586">
      <button class="button signup-button" type="submit" name="Signup">I understand, continue to sign up <i class="icon-arrow-right"></i></button>
      <p>Please check the privacy policy of the site you are visiting.</p>
    </form>
  </div>
  <div class="modal-sub">
    <span><span class="bold">Note:</span> Currently, <span class="myra">myRA</span> accounts are designed for you to fund from your paycheck through your employer’s direct deposit.<br>
    <br> <a href="{{ site.baseurl }}/individuals/signup-details">Click here to learn more &raquo;</a></span>
  </div>
</div>

<div id="manage-modal" class="modal" role="dialog" tabindex="-1" aria-label="You are about to leave myra.treasury.gov">
  <a class="close" tabindex="0">Close <i class="icon-close"></i></a>
  <h2><i class="icon-compass"></i> Before you go</h2>
  <p class="lead-text">You are about to leave myra.treasury.gov and be directed to a United States Treasury partner site to manage your <span class="myra">myRA</span> account.</p>
  <div class="button-container">
    <a class="button modal-site-exit" href="https://manage.ibanking-services.com/cib/CEBMainServlet/Login?FIORG=221&FIFID=111925074">Manage your account <i class="icon-arrow-right"></i></a>
    <p>Please check the privacy policy of the site you are visiting.</p>
  </div>
</div>
