<div class="payroll-instructions">
  <h4>Payroll direct deposit instructions</h4>
  <p class="lead-text">Select your payroll provider to view instructions for setting up payroll direct deposit.</p>
  <ul class="payroll-logos">
    <li><img src="{{ site.baseurl }}/static/img/logo_adp.png" alt="ADP Instructions"></li>
    <li><img src="{{ site.baseurl }}/static/img/logo_intuit.png" alt="Intuit Instructions"></li>
    <li><img src="{{ site.baseurl }}/static/img/logo_paychoice.png" alt="Paychex Instructions"></li>
    <li><img src="{{ site.baseurl }}/static/img/logo_pensoft.png" alt="Pensoft Instructions"></li>
  </ul>
</div>
