<section id="who" class="who">
  <div class="container">
    <div class="who-text">
      <h2><i class="fa fa-users"></i> Who should use <span class="myra">myRA</span>?</h2>
      <ul class="who-bullets">
        <li>You should set up a <span class="myra">myRA</span> if…</li>
        <li>People without access to an employer sponsored retirement plan.</li>
        <li>People who want to begin saving for retirement.</li>
        <li>Individuals earning less than $129,000 a year, and couples earning less than $191,000 a year.</li>
      </ul>
    </div>
  </div>
</section>
