<section id="who" class="who">
  <div class="container">
    <div class="who-content">
      <h2><i class="icon-user"></i> Is <span class="myra">myRA</span> right for me?</h2>
      <ul class="who-bullets">
        <li>You should set up a <span class="myra">myRA</span> if…</li>
        <li class="check-bullet">You want to start saving for retirement</li>
        <li class="check-bullet">You're a wage earner without access to a retirement plan at work and</li>
        <li class="check-bullet">You earn less than $129,000 per year (less than $191,000 per year if you’re a married couple filing jointly)</li>
      </ul>
      <p class="who-eligibility">Currently, you can only fund your <span class="myra">myRA</span> account by direct deposit through an employer. <a href="{{ site.baseurl }}/individuals/signup-details">Click here to learn more &raquo;</a>
    </div>
  </div>
</section>
