<section id="who" class="who-people" role="region" aria-labelledby="who-heading">
  <div class="section-heading">
    <h2 id="who-heading"><i class="fa fa-users"></i> Who should use <span class="myra">myRA</span>?</h2>
  </div>
  <ul class="bxslider">
    <li class="slide who-slide-1">
      <ul class="who-bullets">
        <li>You should set up a <span class="myra">myRA</span> if…</li>
        <li>You want to start saving for retirement, and</li>
        <li>You don’t have access to an employer-sponsored retirement plan (a traditional 401k), and</li>
        <li>You earn less than $129,000 per year (less than $191,000 per year if you’re a married couple filing jointly)</li>
      </ul>
    </li>
    <li class="slide who-slide-2">
      <div class="container">
        <div class="quote-container">
          <span class="quote">
            As a part-time worker, I don’t have a retirement plan through work, so <span class="myra">myRA</span> is perfect for me.
          </span>
          <span class="citation">
            Olivia, 27, sales associate
          </span>
        </div>
      </div>
    </li>
  </ul>
</section>
