<section id="who" class="who">
  <div class="container">
    <div class="who-text">
      <h2><i class="icon-user"></i> Who can use <span class="myra">myRA</span>?</h2>
      <ul class="who-bullets">
        <li>You can set up a <span class="myra">myRA</span> if…</li>
        <li>You want to start saving for retirement, and</li>
        <li>You do not have access to an employer-sponsored retirement plan, such as 401k, and</li>
        <li>You earn less than $129,000 per year (less than $191,000 per year if you’re a married couple filing jointly)</li>
      </ul>
    </div>
  </div>
</section>
