<section id="who" class="section--photos section--dark" aria-labelledby="who-heading">
  <div class="container">
    <div class="section--dark column column--padded">
      <h2 id="who-heading"><i class="icon-user"></i> Is <span class="myra">myRA</span> right for me?</h2>
      <ul class="checklist">
        <li>You should set up a <span class="myra">myRA</span> if…</li>
        <li class="checklist__item">You want to start saving for retirement</li>
        <li class="checklist__item">You're a wage earner without access to a retirement plan at work and</li>
        <li class="checklist__item">You earn less than $129,000 per year (less than $191,000 per year if you’re a married couple filing jointly) <sup><span class="tooltip" title="Annual and lifetime contribution limits and annual earned income limits apply, as do conditions for tax-free withdrawal of interest. Limits listed are for 2015 and may be adjusted annually for cost-of-living increases." aria-label="Annual and lifetime contribution limits and annual earned income limits apply, as do conditions for tax-free withdrawal of interest. Limits listed are for 2015 and may be adjusted annually for cost-of-living increases."><i class="icon-info"></i></span></sup></li>
      </ul>
      <p class="u-no-margin">Currently, you can only fund your <span class="myra">myRA</span> account by direct deposit through an employer.</p>
      <p class="u-no-margin"><a href="{{ site.baseurl }}/individuals/payroll-direct-deposit-information">Click here for more on payroll direct deposit &raquo;</a></p>
    </div>
  </div>
</section>
