<section id="who" class="who-people">
  <div class="section-heading">
    <h2><i class="fa fa-users"></i> Who should use myRA?</h2>
  </div>
  <ul class="bxslider">
    <li class="slide who-slide-1">
      <ul class="who-bullets">
        <li>People without access to an employer sponsored retirement plan.</li>
        <li>People who want to begin saving for retirement.</li>
        <li>Individuals earning less than $129,000 a year, and couples earning less than $191,000 a year.</li>
      </ul>
    </li>
    <li class="slide who-slide-2">
      <div class="container">
        <div class="quote-container">
          <span class="quote">
            As a part-time worker, I don’t have a retirement plan through work, so myRA is perfect for me.
          </span>
          <span class="citation">
            Olivia, 27, sales associate
          </span>
        </div>
      </div>
    </li>
  </ul>
</section>
