/**********************************
// Special styles for IE 8 and lower
/**********************************/

.site-title {
  background-image: url('../img/myra_logo.png');
}

.site-nav {
  border-bottom: none;
}

.hero .inner-container {
  top: 0;
}

.hero .block {
  width: 357px;
}

.hero .block:last-child {
  margin-left: 2px;
}
