---
layout: default
---
<section id="hero" class="center-align">
  <div class="container">
    <p>Introducing myRA</p>
    <p>A simple, safe, affordable account to kickstart saving for your future.</p>
    <p>Brought to you be the United States Treasury</p>
    <a>Learn more and sign up</a>
  </div>
</section>

{% include employee-signup.html %}

<section id="features">
  <div class="container">
    <div class="row">
      <article class="feature">
        <div class="feature-front">
          <h3>No cost to open.<br>No fees.</h3>
        </div>
        <div class="feature-back">
          <p>Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>
      </article>
      <article class="feature">
        <div class="feature-front">
          <h3>Automatic payroll deposit</h3>
        </div>
        <div class="feature-back">
          <p>Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>
      </article>
      <article class="feature">
        <div class="feature-front">
          <h3>Investment never loses value</h3>
        </div>
        <div class="feature-back">
          <p>Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>
      </article>
    </div>
    <div class="row">
      <article class="feature">
        <div class="feature-front">
          <h3>For American workers without employer plans</h3>
        </div>
        <div class="feature-back">
          <p>Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>
      </article>
      <article class="feature">
        <div class="feature-front">
          <h3>Current interest rate</h3>
        </div>
        <div class="feature-back">
          <p>Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>
      </article>
      <article class="feature">
        <div class="feature-front">
          <h3>Save up to $15,000 or for 30 years</h3>
        </div>
        <div class="feature-back">
          <p>Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>
      </article>
    </div>
  </div>
</section>

<section id="myra-story">
  <div class="container center-align">
    <h2>The myRA story</h2>
    <p>Learn how myRA works through the life of Olivia.</p>
    <button>Begin</button>
  </div>
</section>

{% include employee-signup.html %}
