---
layout: splash
noindex: true
---
<section id="hero" class="center-align">
  <div class="container">
    <p class="headline">Introducing myRA:</p>
    <p class="headline">A simple, safe, affordable account to kickstart saving for your future.</p>
    <p>Brought to you be the United States Treasury</p>
    <div class="hero-signup">
      <p>Enter your email address to be the first to know when myRA is available</p>
      <form>
        <label for="email-address">Email address</label>
        <div class="input-group">
          <input type="email" id="email-address">
          <input type="submit" value="Sign Up">
        </div>
      </form>
    </div>
  </div>
</section>

{% include employee-features.html %}

{% include employee-slideshow.html %}

{% include employee-signup.html %}

<section id="calculator">
  <div class="container">
    <h2>See for yourself</h2>
    {% include calculator-v2.html %}
  </div>
</section>

<section id="step-by-step">
  <div class="container">
    <h2>How it works</h2>
    <div class="row">
      <ul class="tabs">
        <li><a class="tab active" href="#step-1">Step 1</a></li>
        <li><a class="tab" href="#step-2">Step 2</a></li>
        <li><a class="tab" href="#step-3">Step 3</a></li>
        <li><a class="tab" href="#step-4">Step 4</a></li>
      </ul>
      <div class="tab-content">
        <article class="active" id="step-1">
          <h3>Step 1</h3>
          <p>Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </article>
        <article id="step-2">
          <h3>Step 2</h3>
          <p>Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </article>
        <article id="step-3">
          <h3>Step 3</h3>
          <p>Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </article>
        <article id="step-4">
          <h3>Step 4</h3>
          <p>Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </article>
      </div>
    </div>
    <h4 class="center-align"><a href="{{site.baseurl}}/about">Learn more about myRA</a></h4>
  </div>
</section>

{% include employee-signup.html %}
