---
layout: splash
noindex: true
---
<section class="hero center-align">
  <div class="container">
    <p class="headline">Introducing myRA:</p>
    <p class="headline">A simple, safe, affordable account to kickstart saving for your future.</p>
    <p>Brought to you be the United States Treasury</p>
    <div class="hero-signup">
      <p>Enter your email address to be the first to know when myRA is available</p>
      <form>
        <label for="email-address">Email address</label>
        <div class="input-group">
          <input type="email" id="email-address">
          <input type="submit" value="Sign Up">
        </div>
      </form>
    </div>
  </div>
</section>

{% include employee-features.html %}

{% include calculator-v2.html %}

{% include employee-signup.html %}

{% include employee-steps.html %}

{% include employee-signup.html %}
