/**************************/
/* Call to Action section */
/**************************/

.call-to-action {
  background: #fff;
  background-attachment: fixed;
  text-align: center;
  padding: 1em 1em;

  .container {
    padding: 2em 0;
  }

  .cta-intro {
    text-align: center;

    @include media($medium-up) {
      @include span-columns(8);
      @include shift(2);
    }
  }
}
