/**************************/
/* Header */
/**************************/

.ie-warning {
  background-color: #fff;
  padding-top: 1em;
  border-bottom: 2px solid $myra-orange;
}

.skip-nav {
  @include transition(top, .2s);
  position: absolute;
  top: -50px;
  left: 10px;
  display: block;
  background: #fff;
  padding: 10px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.4);
  z-index: 999;

  &:focus {
    top: 0;
    box-shadow: inset 0 0 0 1px $myra-blue2;
    outline: none;
  }
}

.usa {
  font-size: 14px; font-size: .75rem;
  width: 100%;
  border-bottom: 1px solid $light-gray;
  background-color: #e6e6e6;

  p {
    color: $dark-gray;
  }
}

.top-bar {
  display: none;
  background: #fff;
  padding: .5em 0;
  color: #333;
  border-top: none;
  text-align: left;

  li {
    padding: 0;
    margin-left: 1em;
  }
  @include media($medium-up) {
    @include clearfix();
    display: block;
  }

}

.site-header {
  background: #fff;
  text-align: center;
}

.site-brand {
  margin: 0 auto;
  text-align: center;
  display: block;
  
  &:active,
  &:focus {
    text-decoration: none;
  }
  
  @include media($large-up) {
    float: left;
    text-align: left;
  }
}

.site-title {
  padding: .25em;
  font-weight: 400;
  margin: 0;

  &:hover {
    text-decoration: none;
    background: $myra-blue1;
    color: #fff;
  }
}

.site-tagline {
  font-size: 18px;
}

.header-container {
  position: relative;
  overflow: visible;

  @include media($tiny-down) {
    padding: 0;
  }
}

.site-nav {
  width: 100%;
  float: right;
  text-align: center;
  border-top: 1px solid #c1c1c1;
  border-bottom: 1px solid #c1c1c1;

  @include media($large-up) {
    width: auto;
    text-align: right;
    border-top: none;
    border-bottom: none;
  }
}

.nav-menu__item {
  display: inline-block;
  position: relative;
  text-align: left;

  & > a {
    @include transition(background-color .1s);
    color: #000;
    display: block;
    padding: em(12) em(10);

    @include media($tiny-down) {
      font-size: .875em;
    }

    &.current-page {
      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4px;
        background: $myra-blue2;
        width: 100%;
        display: block;
        content: "";
      }
    }
  }

  &:hover > a,
  &:focus > a,
  &:active,
  &.sub-menu-open a {
    color: #fff;
    text-decoration: none;
    background-color: $myra-blue1;
  }

  .button {
    color: #fff;
    padding: em(10);
    
    &:hover {
      background: $hover-link-color;
    }
  }

@include media($large-up) {
    font-size: $base-font-size * 1.2;
  }
}

.nav-menu__submenu {
  position: absolute;
  background: $myra-blue1;
  text-align: left;
  font-size: 14px;
  padding: 0;
  min-width: 100%;
  box-shadow: 0 1px 1px 1px rgba(0,0,0,.1);
  z-index: 999;
}

.no-js .nav-menu__submenu {
  position: relative;
}

.nav-menu__subitem {

  a {
    @include transition(background-color, .1s);
    white-space: nowrap;
    display: block;
    padding: 10px 10px;
    color: #fff;

    &:hover,
    &:focus {
      background-color: #fff;
      color: $myra-blue1;
    }
  }
}

.utility-nav {
  text-align: right;
  display: none;

  li {
    display: inline-block;
    padding: 5px 5px 0 5px;

    &:last-child {
      padding-right: 0;
    }
  }

  @include media($small-up) {
    display: block;
    float: right;
  }

  @include media($large-up) {
    float: none;
  }
}