/**************************/
/* Page nav */
/**************************/

.page-nav {
  display: none;
  background: #fff;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid $base-border-color;
  border-top: 1px solid $base-border-color;
  
  .container {
    padding: 0;
    position: relative;
  }
}

.tablist {
  text-align: center;

  li {
    width: 100%;
    text-align: left;
    border-right: 1px solid $base-border-color;

    &:first-child {
      border-left: 1px solid $base-border-color;
    }

    a {
      @include transition(background .1s, color .1s);
      font-size: $base-font-size * .875;
      color: $myra-green;
      display: block;
      border-bottom: 1px solid $base-border-color;
    }

    a:hover,
    a:focus {
      @include transition(all, .2s);
      background-color: $myra-green;
      color: #fff;
    }
  }

  @include media($small-up) {
    li {
      width: 50%;
      float: left;

      a {
        font-size: $base-font-size;
      }
    }
  }

  @include media($large-up) {
    li {
      @include span-columns(3, block-collapse);

      a {
        border-bottom: none;
      }
    }
  }
}

.tablist--centered {
  @include media($small-up) {
    li {
      width: 33.33%;
      float: left;
    }
  }

  @include media($large-up) {
    li {
      display: inline-block;
      float: none;
    }
  }
}

.icon-box {
  padding: em(10) em(10);
  display: inline-block;
  text-align: center;
  min-width: 60px;
}

.nav-label {
  padding: em(10) em(4);
  display: inline-block;
}

.page-nav.fixed {
  display: none; // Hiding it on smaller browsers
  z-index: 500;
  position: fixed;
  top: 0;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);

  li {
    @include span-columns(2, block-collapse);
  }

  .icon-box {
    width: 100%;
    padding: em(10) em(10);
  }

  .nav-label {
    display: none;
  }

  .current-section {
    @include span-columns(6, block-collapse);
    a {
      text-align: center;
    }
    .nav-label {
      display: inline-block;
      text-align: center;
      padding: em(10) em(4);
    }

    .icon-box {
      display: none;
    }
  }

  .progress {
    display: block;
  }

  @include media($small-up) {
    li,
    li:last-child,
    .current-section {
      width: 50%;
      float: left;

      a {
        text-align: left;
      }

      .icon-box {
        display: inline-block;
      }
    }

    .tablist--centered {
      li,
      li:last-child,
      .current-section {
        width: 33.333%;
        float: left;
      }
    }
    
    .current-section a {
      border-bottom: 1px solid $myra-green;
    }

    .nav-label {
      display: inline-block;
    }

    .icon-box {
      display: inline-block;
      max-width: 60px;
    }

    .progress {
      display: none;
    }
  }

  @include media($large-up) {
    display: block;

    li,
    li:last-child,
    .current-section {
      @include span-columns(3, block-collapse);
      border-bottom: none;

      a {
        border-bottom: none;
      }

      .icon-box {
        display: inline-block;
      }
    }

    .progress {
      display: block;
    }
  }

}

// Progress indicator for page nav

.progress {
  @include transition(left, .1s);
  position: absolute;
  // display: none;
  left: -500px;
  bottom: 0;
  height: 4px;
  background: $myra-green;
}