.resource-list {
  @extend %default-ol;
  margin-top: 1em;

  li {
    margin-bottom: 1em;
  }

  a {
    font-weight: bold;
  }

  ul {
    margin-top: 1em;
  }
}

.resource-link {
  @include span-columns(12);
  padding-top: 1em;
}