/**************************/
/* Tooltips & Footnotes */
/**************************/

.footnotes {
  border-top: 1px solid $base-border-color;
  margin-top: 4rem;
  p {
    font-size: .875rem;
  }
}

.tooltip {
  border-bottom: 1px dotted $myra-green;
  color: $myra-green;
  display: inline-block;

  &:focus {
    box-shadow: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
  }
}