/**************************/
/* Features */
/**************************/

$feature-color: #fff;

.features {
  padding: 0;
  position: relative;

  .tab-container {
    background: darken($myra-blue1, 5%);
    @include clearfix();

    .feature {
      @include span-columns(2);
      @include pad(0);

      .tab {
        @include transition(background .2s);
        width: 100%;
        text-align: center;
        cursor: pointer;
        display: block;
        padding: em(20) 0;
        height: em(140);

        h3 {
          font-size: $base-font-size;
          color: $feature-color;
          @include transition(color .2s);
        }

        .svg-icon {
          width: 28%;

          path {
            fill: $feature-color;
            @include transition(fill .2s);
          }
        }

        &.active,
        &:hover {
          background: $myra-blue1;
        }
      }
    }
  }

  .tab-content-container {
    background: $myra-blue1;
    padding: em(20) 0;
    position: relative;
    z-index:-1;

    .tab-content {
      article {
        @include span-columns(8);
        @include shift(2);
        color: #fff;
        display: none;

        &.active {
          display: block;
        }
      }
    }
  }
}

/* myRA Story */

.myra-story {
  padding: 0;

  .bx-wrapper .bx-viewport {
    box-shadow: none;
  }
}


.bxslider {

  .slide {

    .container {
      padding-top: 15%;
      text-align: center;
      height: em(600);
    }
  }
}

// Email capture
.email-capture {
  input {
    width: 100%;
  }

  .button {
    @include span-columns(12);
  }

  @include media($medium-up) {
    @include span-columns(8);
    @include shift(2);
    padding-top: 1em;

    label {
      text-align: left;
    }

    input {
      @include span-columns(6 of 6);
    }

    .button {
      @include span-columns(6 of 6);
    }
  }
}

.call-to-action {
  .email-capture {
    @include media($medium-up) {
      @include span-columns(6);
      @include shift(3);
    }
  }
}

.employer {
  .lead-capture {
    @include media($medium-up) {
      @include span-columns(6);
      @include shift(3);
    }
  }
}


.js-signup-alert {
  @extend %flash-success;
  display: none;
  clear: both;
  text-align: center;
}
