@mixin flash($color) {
  background: #fff;
  border: 1px solid $color;
  color: $color;
  margin-bottom: $base-line-height / 2;
  padding: $base-line-height / 2;

  p {
    margin-bottom: 0;
  }

  a {
    color: darken($color, 70);

    &:hover {
      color: darken($color, 90);
    }
  }
}
