@mixin flash($color) {
  background: #fff;
  border: 1px solid $base-border-color;
  color: $color;
  font-weight: bold;
  margin-bottom: $base-line-height / 2;
  padding: $base-line-height / 2;

  a {
    color: darken($color, 70);

    &:hover {
      color: darken($color, 90);
    }
  }
}
