@mixin flash($color) {
  background: #fff;
  border: 2px solid $color;
  color: #333;
  font-weight: bold;
  margin-bottom: $base-line-height / 2;
  padding: $base-line-height / 2;
  border-radius: 3px;
  
  p {
    margin-bottom: 0;
  }

  a {
    color: darken($color, 70);

    &:hover {
      color: darken($color, 90);
    }
  }
}
