input[type="submit"],
.button {
  @extend %button;
  @include appearance(none);
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  i { /* if there's an icon */
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
  }
}

.button-group {
  clear: both;
  text-align: center;

  .button {
    background-color: $medium-gray;
    text-align: center;
    margin: 0;
    border-radius: 0;
    color: $dark-gray;
    border-right: 1px solid #f3f3f3;

    &:last-child {
      border-right: none;
    }

    &[aria-pressed="true"] {
      background-color: $myra-green;
      color: #fff;
    }
  }
}

.toggle {
  cursor: pointer;
  @include appearance(none);
  background: none;
  border: none;
  display: inline-block;
  color: $base-accent-color;
  user-select: none;
  white-space: nowrap;
  padding: 0;

  &:hover,
  &:active {
    box-shadow: none;
    color: $hover-link-color;
  }
  &.close {
    text-align: left;
    display: block;
  }
}
