// Styles for general page layout

body {
  // min-width: 960px;
}

#main {
  background-color: #fff;
}

.container {
  @include outer-container();
  overflow-x: hidden;
  padding: 0 em(20);

  @include media($largest-up) {
    padding: 0;
  }
}

.row {
  @include row();
}

.omega {
  @include omega();
}

.left {
  float: left;
}

.right {
  float: right;
}

// Sections

section {
  padding: 1em 0;

  @include media($medium-up) {
    padding: 2em 0;
  }
}

.gray {
  background: #f9f9f9;
}

.section-intro {
  margin-bottom: $base-line-height;

  p {
    @extend .lead-text;
  }

  @include media($large-up) {
    @include span-columns(8);
    @include shift(2);
  }
}

// Default layout page styles

.default {

  #main {
    background: #f3f3f3;

    @include media($tiny-down) {
      section,
      .container {
        padding: 0;
      }
    }
  }

  .page-content {
    padding: 1em;
    background: #fff;

    @include media($tiny-up) {
      padding: 2em;
    }

    @include media($large-up) {
      @include span-columns(8);
      @include shift(2);
    }

    h2 {
      text-align: left;
      margin-bottom: 0;
    }
  }
}

// Section themes
.section--dark {
  background: $myra-blue1;

    p,
    span,
    li,
    h1,
    h2,
    h3,
    h4,
    h5 {
      color: #fff;
    }

    a {
      color: #fff;
      text-decoration: underline;

      &:hover {
        color: #f1f1f1;
      }
    }
}

.section--white {
  border-bottom: 1px solid $base-border-color;
}

.section--gray {
  border-top: 1px solid $base-border-color;
  border-bottom: 1px solid $base-border-color;
  background: #f3f3f3;
}

.section--photos {
  background-position: 50% 0;
  padding: 0;

  @include media($medium-up) {
    background: url('../img/who-bg.jpg');
  }
}