// Styles for general page layout

.container {
  @include outer-container();
}

.row {
  @include row();
}

// Create classes for different spans
// And also for different shifts
@for $i from 1 through $grid-columns {
  .span-columns-#{$i} {
    @include span-columns($i);
  }

  .shift-#{$i} {
    @include shift($i);
  }
}

.omega {
  @include omega();
}


// Sections

section {
  padding: em(40);
}

.inverse {
  background: $myra-blue1;
  color: #fff;
}

.gray {
  background: #f9f9f9;
}



// Footer
footer {
  background: #333;
  color: #fff;
  padding: $base-line-height 0;

  .left {
    @include span-columns(6);
  }
}
