// Presentational states

.hidden {
  display: none !important;
}


// Animations (only for desktop)

@include ($large-up) {
  .appear {
    @include transition(all .5s ease-in);
    &.fade-in {
      opacity: 0;


      &.visible {
        opacity: 1;
      }
    }

    &.slide-in-left {
      position: relative;
      left: -200%;

      &.visible {
        left: 0;
      }
    }


    &.slide-in-right {
      position: relative;
      right: -200%;

      &.visible {
        right: 0;
      }
    }

    &.slide-up {
      @include transform(translateY(300px));

      &.visible {
        @include transform(translateY(0));
      }
    }
  }
}
