// Presentational states

.hidden {
  display: none !important;
}

// Focus states
span:focus,
button:focus,
.button:focus {
  box-shadow: inset 0 0 0 2px $myra-blue2;
  outline: none;
  text-decoration: none;
}

a:focus {
  text-decoration: underline;
  outline:none;
}

a:active {
  text-decoration: none;
}

div:focus {
  outline: none;
}

// Animations (only for desktop)

@include media($large-up) {
  .appear {
    @include transition(all .5s ease-in);
    &.fade-in {
      opacity: 0;


      &.visible {
        opacity: 1;
      }
    }

    &.slide-in-left {
      position: relative;
      left: -200%;

      &.visible {
        left: 0;
      }
    }


    &.slide-in-right {
      position: relative;
      right: -200%;

      &.visible {
        right: 0;
      }
    }

    &.slide-up {
      @include transform(translateY(300px));

      &.visible {
        @include transform(translateY(0));
      }
    }
  }
}

// Toggle visibility

.toggle-item {
  display: none;
}
