// Typography
$pn: 'proxima-nova';
$source-sans: 'Source Sans Pro';
$sans-serif: $source-sans, 'helvetica', 'arial', sans-serif;
$serif: 'georgia', serif;
$base-font-family: $sans-serif;
$header-font-family: $base-font-family;

// Sizes
$base-font-size: 1rem;
$pixel-font-size: 16px; // Fallback for IE 8 and below
$base-line-height: $base-font-size * 1.5;
$unitless-line-height: 1.45;
$header-line-height: $base-font-size * 1.25;
$base-border-radius: 0;

// Colors
$blue: #477DCA;
$dark-gray: #333;
$medium-gray: #D3D3D3;
$light-gray: #E9E7E7;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #dcf5ed;

// myRA Colors
// $myra-green: #00875F;


$myra-green: #036a37;
$myra-blue1: #043253;
$myra-blue2: #36ade1;
$myra-orange: #f06a35;
$myra-darkblue: #021c37;
$myra-gray: #9c9ea2;

// Background Color
$base-background-color: $myra-darkblue;

// Font Colors
$base-font-color: #2d3b4f;
$base-accent-color: $myra-green;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($myra-green, 5%);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Border color
$base-border-color: $medium-gray;

// Flash Colors
$alert-color: $myra-orange;
$error-color: $light-red;
$notice-color: $myra-orange;
$success-color: $myra-green;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $myra-blue2;
$form-border-radius: $base-border-radius;
$form-box-shadow: none;
$form-box-shadow-focus: none;
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;

// Other Decorative Colors
$menu-color: $myra-green;
