<!DOCTYPE html lang="en">
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
  
  {% include head.html %}

    {% include header.html %}

    <main id="main" class="page-content" role="main" itemprop="mainContentofPage" itemscope itemtype="http://schema.org/WebPageElement">
      {{ content }}
    </main>

    {% include footer.html %}

</html>
