---
layout: splash
noindex: true
title: For Individuals
---
<div class="live">
  <section class="hero">
    <div class="container">
      <div class="headline">
        <span class="coming-soon">Now available!</span>
        <span class="display"><span class="myra">myRA</span> is a brand new investment account to help <em>you</em> save for retirement.</span>
        <span class="sub-headline">Brought to you by the United States Treasury</span>
      </div>
      <div class="hero-signup">
        <div class="signup">
          <h3>Start saving for your future today</h3>
          <p>Signing up for <span class="myra">myRA</span> is easy and only takes 10 minutes. So why wait?</p>
          <a class="button" href="#">Sign up for myRA</a>
        </div>
        <div class="account-signin">
          <h4>Already have an account?</h4>
          <a class="button" href="#">Log into myRA Online</a>
        </div>
      </div>
    </div>
  </section>

  <nav class="page-nav" role="menubar">
    <div class="container">
      <ul>
        <li><a href="#calculator" role="menuitem"><i class="fa fa-line-chart"></i> <span class="nav-label">How much should I save?</span></a></li>
        <li><a href="#who" role="menuitem"><i class="fa fa-users"></i> <span class="nav-label">Who should use <span class="myra">myRA</span>?</span></a></li>
        <li><a href="#benefits" role="menuitem"><i class="fa fa-heart"></i> <span class="nav-label">What makes <span class="myra">myRA</span> great?</span></a></li>
        <li><a href="#how" role="menuitem"><i class="fa fa-gears"></i> <span class="nav-label">How does it work?</span></a></li>
      </ul>
    </div>
  </nav>

  {% include calculator-v4.html %}

  {% include who.html %}

  {% include individual-value-proposition.html %}

  {% include individual-steps.html %}

  {% include individual-signup.html %}
</div>
