---
layout: splash
bodyclass: individuals
title: For Individuals
---
<section class="hero" role="region">
  <div class="container">
    <div class="inner-container">
      <span class="coming-soon">Coming December 2014</span>
      <div class="headline">
        <span class="display"><span class="myra">myRA</span> is a brand new investment account to help <em>you</em> save for retirement.</span>
        <span class="sub-headline">Brought to you by the United States Treasury</span>
      </div>
      <div class="hero-signup">
        <div class="inner-signup">
          <h3>Be the first to know</h3>
          <p>In December, we will invite people to open their <span class="myra">myRA</span> accounts. If you'd like to be notified when enrollment begins, enter your email address here.</p>
        </div>
        <form action="//gsa.us9.list-manage.com/subscribe/post?u=6f1977de9eff4c384dc8d6527&amp;id=e65db09f01" method="post" name="mc-embedded-subscribe-form" class="validate email-capture" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required aria-label="Email address">
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_6f1977de9eff4c384dc8d6527_e65db09f01" tabindex="-1" value=""></div>
            <input type="submit" value="Alert me when I can open my account" name="subscribe" id="mc-embedded-subscribe" class="button" role="button">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<nav class="page-nav" role="navigation">
  <div class="container">
    <ul>
      <li><a href="#calculator"><span class="icon-box"><i class="fa fa-line-chart"></i></span> <span class="nav-label">How much should I save?</span></a></li>
      <li><a href="#who"><span class="icon-box"><i class="fa fa-users"></i></span> <span class="nav-label">Who should use <span class="myra">myRA</span>?</span></a></li>
      <li><a href="#benefits"><span class="icon-box"><i class="fa fa-heart"></i></span> <span class="nav-label">What makes <span class="myra">myRA</span> great?</span></a></li>
      <li><a href="#how"><span class="icon-box"><i class="fa fa-gears"></i></span> <span class="nav-label">How does it work?</span></a></li>
    </ul>
  </div>
</nav>

{% include calculator-v4.html %}

{% include who.html %}

{% include individual-value-proposition.html %}

{% include individual-steps.html %}

{% include individual-signup.html %}
