---
layout: splash
noindex: true
title: Individuals - v2
---
<section class="hero">
  <div class="container">
    <div class="headline appear fade-in">
      <span class="display bold">Introducing <span class="myra">myRA</span></span>
      <span class="display">A simple, safe, affordable account to kickstart saving for your future.</span>
      <span class="sub-headline">Brought to you be the United States Treasury</span>
    </div>
    <div class="hero-signup">
      <h5>Sign up to be the first to know when <span class="myra">myRA</span> is available.</h5>
      <form id="email-capture">
        <label for="email-address">Email address</label>
        <div class="button-group">
          <input type="email" id="email-address">
          <button class="submit" value="Sign Up">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</section>

<section id="benefits" class="benefits">
  <div class="container">
    <h2><i class="fa fa-heart"></i> What are the benefits?</h2>
    <div class="benefit-block">
      <h3>Saving should not cost you money or heartaches</h3>
      <ul>
        <li>No fees. Ever.</li>
        <li>No minimum to open.</li>
        <li>Flexibility to contribute as much as you want: $50, $25, $7&mdash;any amount!</li>
        <li>You can withdraw from the principal without penalty whenever you need it (for example, to cover medical bills).</li>
      </ul>
    </div>
    <div class="benefit-block">
      <h3>Available wherever you work, even if you are self-employed</h3>
      <ul>
        <li>Your plan stays with you even when you change jobs.</li>
        <li>If you have more than one job, you can contribute from all your paychecks into a single <span class="myra">myRA</span> account.</li>
      </ul>
    </div>
    <div class="benefit-block">
      <h3>Easy to start and keep saving</h3>
      <ul>
        <li>If your employer is making <span class="myra">myRA</span> available, they can setup automatic deposit out of your paycheck. So if you choose to save $50 per pay period, they will deposit $50 into your <span class="myra">myRA</span> instead of your bank account.</li>
        <li>If your employer is not making <span class="myra">myRA</span> available, or if you are self-employed, you can still set up an automatic deposit from your bank account into your <span class="myra">myRA</span> account.</li>
      </ul>
    </div>
    <div class="benefit-block">
      <h3>A safe investment with steady returns</h3>
      <ul>
        <li>Investment is backed by the U.S. Treasury</li>
        <li>Your investment never loses value</li>
        <li>Once you save $15,000 (or save for 30 years), you can then roll your <span class="myra">myRA</span> over into a private Roth IRA.</li>
      </ul>
    </div>
  </div>
</section>
{% include individual-steps.html %}

{% include individual-signup.html %}
