---
layout: splash
noindex: true
---
<section class="hero">
  <div class="container">
    <div class="headline appear fade-in">
      <span class="display bold">Introducing myRA</span>
      <span class="display">A simple, safe, affordable account to kickstart saving for your future.</span>
      <span class="sub-headline">Brought to you be the United States Treasury</span>
    </div>
    <div class="hero-signup">
      <h5>Sign up to be the first to know when myRA is available.</h5>
      <form id="email-capture">
        <label for="email-address">Email address</label>
        <div class="button-group">
          <input type="email" id="email-address">
          <button class="submit" value="Sign Up">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</section>

{% include individual-value-proposition.html %}

{% include individual-steps.html %}

{% include individual-signup.html %}
