---
layout: splash
noindex: true
title: Individuals
---
<section class="hero">
  <div class="container">
    <div class="headline appear fade-in">
      <span class="display bold">Introducing myRA</span>
      <span class="display">A simple, safe, affordable account to kickstart saving for your future.</span>
      <span class="sub-headline">Brought to you by the United States Treasury</span>
    </div>
    <div class="hero-signup appear fade-in">
      <h5>Sign up to be the first to know when myRA is available.</h5>
      <form id="email-capture">
        <label for="email-address">Email address</label>
        <div class="button-group">
          <input type="email" id="email-address">
          <button class="submit" value="Sign Up">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</section>

<nav class="page-nav">
  <div class="container">
    <ul>
      <li><a href="#benefits"><i class="fa fa-heart"></i> What are the benefits?</a></li>
      <li><a href="#who"><i class="fa fa-users"></i> Who can use myRA?</a></li>
      <li><a href="#calculator"><i class="fa fa-line-chart"></i> How much can I save?</a></li>
      <li><a href="#how"><i class="fa fa-gears"></i> How does it work?</a></li>
    </ul>
  </div>
</nav>

{% include individual-value-proposition.html %}

<section id="who" class="who">
  <div class="container">
    <h2><i class="fa fa-users"></i> Who can use myRA?</h2>
    <ul class="who-bullets">
      <li>People without access to an employer sponsored retirement plan.</li>
      <li>People who want to begin saving for retirement.</li>
      <li>Individuals earning less than $129,000 a year (individuals) or $191,000 a year (couples).</li>
      <li>U.S. Citizens.</li>
    </ul>
    <div class="images">
      <img class="face" src="{{ site.baseurl }}/static/img/person_1.jpg">
      <img class="face" src="{{ site.baseurl }}/static/img/person_2.jpg">
      <img class="face" src="{{ site.baseurl }}/static/img/person_3.jpg">
    </div>
  </div>
</section>

{% include individual-signup.html %}

{% include calculator-v3.html %}

{% include individual-steps.html %}

{% include individual-signup.html %}
