---
layout: splash
noindex: true
title: Individuals
---
<section class="hero">
  <div class="container">
    <div class="headline appear fade-in">
      <span class="display">myRA is a brand new investment account to help <em>you</em> save for retirement.</span>
      <span class="sub-headline">Brought to you by the United States Treasury</span>
    </div>
    <div class="hero-signup appear fade-in">
      <h5>Be the first to know</h5>
      <p>In December, we will invite people to open their myRA accounts. If you'd like to be notified when enrollment begins, enter your email address here.</p>
      <form id="email-capture">
        <!-- <label for="email-address">Enter your email address</label> -->
        <div class="button-group">
          <input type="email" id="email-address" placeholder="email address">
          <button class="submit" value="Sign Up">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</section>

<nav class="page-nav">
  <div class="container">
    <ul>
      <li><a href="#calculator"><i class="fa fa-line-chart"></i> How much should I save?</a></li>
      <li><a href="#who"><i class="fa fa-users"></i> Who should use myRA?</a></li>
      <li><a href="#benefits"><i class="fa fa-heart"></i> What makes myRA great?</a></li>
      <li><a href="#how"><i class="fa fa-gears"></i> How does it work?</a></li>
    </ul>
  </div>
</nav>

<main role="main">

  {% include calculator-v4.html %}

  {% include who.html %}

  {% include individual-value-proposition.html %}

  {% include individual-steps.html %}

  {% include individual-signup.html %}

</main>
