---
layout: splash
noindex: true
title: v3
---
<section class="hero center-align">
  <div class="container">
    <p class="headline">Introducing myRA:</p>
    <p class="headline">A simple, safe, affordable account to kickstart saving for your future.</p>
    <p>Brought to you be the United States Treasury</p>
    <div class="hero-signup">
      <p>Enter your email address to be the first to know when myRA is available.</p>
      <form>
        <label for="email-address">Email address</label>
        <div class="input-group">
          <input type="email" id="email-address">
          <input type="submit" value="Sign Up">
        </div>
      </form>
    </div>
  </div>
</section>

<section class="who">
  <div class="container">
    <h3>Who myRA is for:</h3>
    <aside class="span-columns-4">
      <h5>U.S. citizens looking for a new way to begin saving for retirement.</h5>
    </aside>
    <aside class="span-columns-4">
      <h5>People without access to an employer sponsored retirement plan.</h5>
    </aside>
    <aside class="span-columns-4 omega">
      <h5>Individuals earning less than $129,000 a year (individuals) or $191,000 a year (couples).</h3>
    </aside>
  </div>
</section>

<section class="benefits">
  <div class="container">
    <h3>Benefits of myRA</h3>
    <aside class="span-columns-6">
      <h4>Saving should not cost you money or heartaches</h4>
      <ul>
        <li>Never any bank fees.</li>
        <li>No minimum to open.</li>
        <li>Flexibilty to contribute as much as you want: $50, $25, $7&mdash;any amount!</li>
        <li>Life sometimes gets complicated. You can withdraw from the principal without penalty if you need to (medical bills, etc).</li>
      </ul>
    </aside>
    <aside class="span-columns-6">
      <h4>Available wherever you work, even if you are self-employed</h4>
      <ul>
        <li>Your plan stays with you even when you change jobs</li>
      </ul>
    </aside>
    <aside class="span-columns-6">
      <h4>Easy to start and keep saving</h4>
      <ul>
        <li>Automatic payroll deposit into your myRA if your employer is a partner.</li>
        <li>Automatic bank deposit into your myRA if your employer isn't a partner, or if you are self-employed.</li>
      </ul>
    </aside>
    <aside class="span-columns-6">
      <h4>An safe investment you can trust</h4>
      <ul>
        <li>Investment is backed by the full faith and credit of the U.S. government.</li>
        <li>Your investment never loses value</li>
        <li>Once you save $15,000 (or save for 30 years), you can then roll your myRA over into a private Roth IRA.</li>
      </ul>
    </aside>
  </div>
</section>

{% include employee-signup.html %}

{% include calculator-v2.html %}

{% include employee-steps.html %}

{% include employee-signup.html %}
