---
layout: splash
noindex: true
title: Individuals
---
<section class="hero gradient-bg">
  <div class="container">
    <div class="headline appear fade-in">
      <span class="display">myRA is <span class="word-1 active">simple</span>, <span class="word-2">safe</span> and <span class="word-3">affordable</span>.</span>
    </div>

    <div class=>
      <ul class="slides">
        <li class="slide-1">
          <span class="quote">With myRA, I can save automatically, right out of my paycheck.</span>
          <span class="citation">- Olivia, 26, sales associate</span>
        </li>
      </ul>
      <ul class="controls">
        <li class="active"><img src="{{ site.baseurl }}/static/img/face1.png" alt="Olivia"></li>
        <li><img src="{{ site.baseurl }}/static/img/face2.png" alt="Emily"></li>
        <li><img src="{{ site.baseurl }}/static/img/face3.png" alt="Tom"></li>
      </ul>
    </div>
  </div>
</section>

<section class="sub-hero">
  <div class="container">
    <p>myRA&#8480;—my retirement account—is a brand new way to save for retirement <br>with the U.S. Treasury.</p>
  </div>
</section>

<nav class="page-nav">
  <div class="container">
    <ul>
      <li><a href="#benefits"><i class="fa fa-heart"></i> What are the benefits?</a></li>
      <li><a href="#who"><i class="fa fa-users"></i> Who can use myRA?</a></li>
      <li><a href="#calculator"><i class="fa fa-line-chart"></i> How much can I save?</a></li>
      <li><a href="#how"><i class="fa fa-gears"></i> How does it work?</a></li>
    </ul>
  </div>
</nav>

{% include individual-value-proposition.html %}

<section id="who" class="who who-simple">
  <div class="container">
    <h2><i class="fa fa-users"></i> Who can use myRA?</h2>
    <ul class="who-bullets">
      <li>People without access to an employer sponsored retirement plan.</li>
      <li>People who want to begin saving for retirement.</li>
      <li>Individuals earning less than $129,000 a year, and couples earning less than $191,000 a year.</li>
    </ul>
  </div>
</section>

{% include individual-signup.html %}

{% include calculator-v4.html %}

{% include individual-steps.html %}

{% include individual-signup.html %}
